<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/productLayout}">

<div class="container" layout:fragment="content">

    <main id="product">
        <aside>
            <!-- 카테고리 -->
            <ul class="category">
                <li><i class="fa fa-bars" aria-hidden="true"></i>카테고리</li>
                <li>
                    <a th:href="@{/product/list(cateName1='의류/패션')}"><i class="fas fa-tshirt"></i>의류/패션<i
                            class="fas fa-angle-right"></i></a>
                    <ol>
                        <li><a th:href="@{/product/list(cateName1='의류/패션' , cateName2='남성의류')}" >남성의류</a>
                            <ol>
                                <li><a th:href="@{/product/list(cateName1='의류/패션' , cateName2='남성의류' , cateName3='상의')}">상의</a>
                                <li><a th:href="@{/product/list(cateName1='의류/패션' , cateName2='남성의류' , cateName3='하의')}">하의</a>
                                <li><a th:href="@{/product/list(cateName1='의류/패션' , cateName2='남성의류' , cateName3='잡화(가방,지갑,벨트)')}">잡화(가방,지갑,벨트)</a>
                                <li><a th:href="@{/product/list(cateName1='의류/패션' , cateName2='남성의류' , cateName3='신발')}">신발</a>
                            </ol>
                        </li>
                        <li><a th:href="@{/product/list(cateName1='의류/패션' , cateName2='여성의류')}">여성의류</a>
                            <ol>
                                <li><a th:href="@{/product/list(cateName1='의류/패션' , cateName2='여성의류' , cateName3= '상의')}">상의</a>
                                <li><a th:href="@{/product/list(cateName1='의류/패션' , cateName2='여성의류' , cateName3= '하의')}">하의</a>
                                <li><a th:href="@{/product/list(cateName1='의류/패션' , cateName2='여성의류' , cateName3= '잡화(가방,지갑,벨트)')}">잡화(가방,지갑,벨트)</a>
                                <li><a th:href="@{/product/list(cateName1='의류/패션' , cateName2='여성의류' , cateName3= '신발')}">신발</a>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    <a th:href="@{/product/list(cateName1='가전')}"><i class="fas fa-laptop"></i>가전<i
                            class="fas fa-angle-right"></i></a>
                    <ol>
                        <li><a th:href="@{/product/list(cateName1='가전', cateName2='생활가전')}">생활가전</a>
                            <ol>
                                <li><a th:href="@{/product/list(cateName1='가전', cateName2='생활가전' ,cateName3='세탁기/세탁기용품')}">세탁기/세탁기용품</a>
                                <li><a th:href="@{/product/list(cateName1='가전', cateName2='생활가전' ,cateName3='청소기')}">청소기</a>
                                <li><a th:href="@{/product/list(cateName1='가전', cateName2='생활가전' ,cateName3='에어컨')}">에어컨</a>
                                <li><a th:href="@{/product/list(cateName1='가전', cateName2='생활가전' ,cateName3='냉장고')}">냉장고</a>
                            </ol>
                        </li>
                        <li><a th:href="@{/product/list(cateName1='가전', cateName2='TV/영상가전')}">TV/영상가전</a>
                            <ol>
                                <li><a th:href="@{/product/list(cateName1='가전', cateName2='TV/영상가전', cateName3='TV')}">TV</a>
                                <li><a th:href="@{/product/list(cateName1='가전',cateName2='TV/영상가전', cateName3='영상플레이어')}">영상플레이어</a>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    <a th:href="@{/product/list(cateName1='식품')}"><i class="fas fa-utensils"></i>식품<i
                            class="fas fa-angle-right"></i></a>
                    <ol>
                        <li><a th:href="@{/product/list(cateName1='식품', cateName2='농/축산물')}">농/축산물</a>

                            <ol>
                                <li><a th:href="@{/product/list(cateName1='식품', cateName2='농/축산물', cateName3='정육/계란')}">정육/계란</a>
                                <li><a th:href="@{/product/list(cateName1='식품', cateName2='농/축산물', cateName3='정육/계란')}">쌀/잡곡/견과</a>
                                <li><a th:href="@{/product/list(cateName1='식품', cateName2='농/축산물', cateName3='정육/계란')}">과일</a>
                                <li><a th:href="@{/product/list(cateName1='식품', cateName2='농/축산물', cateName3='정육/계란')}">채소</a>
                            </ol>

                        </li>
                        <li><a th:href="@{/product/list(cateName1='식품', cateName2='수산/건어물')}">수산/건어물</a>

                            <ol>
                                <li><a th:href="@{/product/list(cateName1='식품', cateName2='수산/건어물', cateName3='생선')}">생선</a>
                                <li><a th:href="@{/product/list(cateName1='식품', cateName2='수산/건어물', cateName3='김/해조류')}">김/해조류</a>
                                <li><a th:href="@{/product/list(cateName1='식품', cateName2='수산/건어물', cateName3='전복/굴/조개류')}">전복/굴/조개류</a>
                                <li><a th:href="@{/product/list(cateName1='식품', cateName2='수산/건어물', cateName3='오징어/낙지/쭈꾸미')}">오징어/낙지/쭈꾸미</a>
                            </ol>
                        </li>
                    </ol>
                <li>


                    <a th:href="@{/product/list(cateName1='반려동물')}"><i class="fas fa-home"></i>반려동물<i
                            class="fas fa-angle-right"></i></a>
                    <ol>
                        <li>
                            <a th:href="@{/product/list(cateName1='반려동물', cateName2='강아지')}">강아지</a>
                            <ol>
                                <li><a th:href="@{/product/list(cateName1='반려동물', cateName2='강아지', cateName3='사료/영양제')}">사료/영양제</a></li>
                                <li><a th:href="@{/product/list(cateName1='반려동물', cateName2='강아지', cateName3='간식')}">간식</a></li>
                                <li><a th:href="@{/product/list(cateName1='반려동물', cateName2='강아지', cateName3='배변용품')}">배변용품</a></li>
                                <li><a th:href="@{/product/list(cateName1='반려동물', cateName2='강아지', cateName3='장난감/훈련용품')}">장난감/훈련용품</a></li>
                            </ol>
                        </li>
                        <li>
                            <a th:href="@{/product/list(cateName1='반려동물', cateName2='고양이')}">고양이</a>
                            <ol>
                                <li><a th:href="@{/product/list(cateName1='반려동물', cateName2='고양이', cateName3='사료/영양제')}">사료/영양제</a></li>
                                <li><a th:href="@{/product/list(cateName1='반려동물', cateName2='고양이', cateName3='간식')}">간식</a></li>
                                <li><a th:href="@{/product/list(cateName1='반려동물', cateName2='고양이', cateName3='배변용품')}">배변용품</a></li>
                                <li><a th:href="@{/product/list(cateName1='반려동물', cateName2='고양이', cateName3='장난감/훈련용품')}">장난감/훈련용품</a></li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ul>
        </aside>

        <!-- 장바구니 페이지 시작 -->
        <section class="cart">

            <!-- 제목, 페이지 네비게이션 -->
            <nav>
                <h1>장바구니</h1>
                <p>
                    HOME  > <strong>장바구니</strong>
                </p>
            </nav>

            <form action="#">
                <!-- 장바구니 목록 -->
                <table>
                    <thead>
                    <tr>
                        <th><input type="checkbox" name="all" id="all"></th>
                        <th>상품명</th>
                        <th>총수량</th>
                        <th>판매가</th>
                        <th>할인(%)</th>
                        <th>포인트</th>
                        <th>배송비</th>
                        <th>소계</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:if="${carts.size()==0}">
                        <tr class="empty">
                            <td colspan="7">장바구니에 상품이 없습니다.</td>
                        </tr>
                    </th:block>
                  <th:block th:if="${carts.size()!=0}" th:each="subProduct , index:${subProducts}">
                      <tr>
                          <td><input type="checkbox" name="check" id="check"></td>
                          <td>
                              <article>
                                  <a th:href="@{/product/view(prodno=${subProduct.products.getProdNo()})}"><img th:src="@{/uploads/__${subProduct.products.image1}__}" alt=""></a>
                                  <div>
                                      <h2><a th:href="@{/product/view(prodno=${subProduct.products.getProdNo()})}">
                                          [[${subProduct.products.prodName}]]</a></h2>
                                      <p> [[${subProduct.products.etc}]]</p>
                                      <p> [[${subProduct.color}]]</p>
                                      <p> [[${subProduct.size}]]</p>
                                  </div>
                              </article>
                          </td>
                          <td >
                              <input id="cartProdCount" th:data-no="${carts[index.index].cartNo}" style="width: 30px" type="number" min="1" th:value="${carts[index.index].cartProdCount}"></td>
                          <td id="cartProdPrice">[[${subProduct.prodPrice}]]</td>
                          <td id="cartProdDiscount">[[${subProduct.products.prodDiscount}]]</td>
                          <td id="cartProdPoint">[[${subProduct.products.point}]]</td>
                          <td id="cartProdDelivery">[[${subProduct.products.delivery}]]</td>
                          <td id="totalPriceTempt">[[${#numbers.formatDecimal(subProduct.prodPrice * carts[index.index].cartProdCount * (100 - subProduct.products.prodDiscount) * 0.01 , 1, 0)}]]</td>
                          <td id="cartNo" style="display: none">[[${carts[index.index].cartNo }]]</td>
                      </tr>
                  </th:block>


                    </tbody>
                </table>
                <input type="button" name="del" id="del" value="선택삭제">
                    <script>
                        window.onload=function (e){
                            const all = document.getElementById('all');
                            const checkAll = document.querySelectorAll('#check');
                            const orderBuy = document.getElementById('orderBuy');

                            all.onclick = function (){
                                if (all.checked){
                                    checkAll.forEach(function (item) {
                                        if (!item.checked) {
                                            item.click();
                                        }
                                    });
                                }else{
                                    checkAll.forEach(function (item) {
                                        if (item.checked) {
                                            item.click();
                                        }
                                    });
                                }
                            }
                            const prodCount = document.getElementById('prodCount');
                            const prodPrices = document.getElementById('prodPrices');
                            const discounts = document.getElementById('discounts');
                            const delivery = document.getElementById('delivery');
                            const points = document.getElementById('points');
                            const totalPrice = document.getElementById('totalPrice');
                            document.addEventListener("click", function (event){
                                checkAll.forEach(function (item){
                                    if(event.target === item ){
                                        calculationTotal();
                                    }
                                });
                            });

                            document.addEventListener("change" , async function (event) {
                                const cartProdCount = document.querySelectorAll('#cartProdCount');
                                for (const item of cartProdCount) {
                                    if(event.target === item){
                                        //이거시를 보내고 소계를 넣어주자
                                        const result = await fetchGet('/lotteshop/product/modifyCount?count='+event.target.value+'&' +
                                            'cartNo='+event.target.getAttribute('data-no'));
                                        console.log(result.data)
                                        item.closest('tr').querySelector('#totalPriceTempt').innerText=result.data;
                                        calculationTotal();
                                    }
                                }
                            })

                            const del = document.getElementById('del');
                            var cartLists = [];
                            del.onclick=function (e){
                                e.preventDefault();
                                if(confirm('삭제하시겠습니까?')){

                                    checkAll.forEach(function (item) {
                                        if (item.checked) {
                                            cartLists.push(parseInt(item.closest('tr').querySelector('#cartNo').innerText));
                                            item.closest('tr').remove();
                                            item.click();
                                        }
                                    });
                                    calculationTotal();
                                    if(cartLists.length == 0){
                                        alert('삭제할 상품이 없습니다.')
                                    }else{
                                        const json = {list : cartLists};
                                        console.log(json)
                                        fetchPut('/lotteshop/product/cart/delete', json);

                                    }
                                }
                            }

                            orderBuy.onclick=function (e){
                                var cartList = [];
                                e.preventDefault();
                                if(confirm('주문페이지로 이동하시겠습니까?')){

                                    checkAll.forEach(function (item) {
                                        if (item.checked) {
                                            cartList.push(parseInt(item.closest('tr').querySelector('#cartNo').innerText));
                                        }
                                    });
                                    if(cartList.length == 0){
                                        alert('상품을 선택해주세요.')
                                    }else{
                                       window.location.href ='/lotteshop/product/order2?list='+cartList;

                                    }
                                }
                            }

                            function calculationTotal(){
                                prodCount.innerText=0;
                                prodPrices.innerText=0;
                                discounts.innerText=0;
                                delivery.innerText=0;
                                points.innerText=0;
                                totalPrice.innerText=0;
                                checkAll.forEach(function (item){
                                    if(item.checked){
                                        var closestRow = item.closest('tr');
                                        var cartProdCount = closestRow.querySelector('#cartProdCount').value;
                                        var cartProdPrice = closestRow.querySelector('#cartProdPrice').textContent;
                                        var cartProdDiscount = closestRow.querySelector('#cartProdDiscount').textContent;
                                        var cartProdPoint = closestRow.querySelector('#cartProdPoint').textContent;
                                        var cartProdDelivery = closestRow.querySelector('#cartProdDelivery').textContent;

                                        prodCount.innerText = parseInt(prodCount.innerText )+ parseInt(cartProdCount);
                                        prodPrices.innerText = parseInt(prodPrices.innerText )+ parseInt(cartProdPrice * cartProdCount);
                                        points.innerText = parseInt(points.innerText )+ parseInt(cartProdPoint * cartProdCount);
                                        discounts.innerText = parseInt(discounts.innerText )+ parseInt(cartProdPrice * cartProdCount * (cartProdDiscount) * 0.01 );
                                        var tempt = parseInt(prodPrices.innerText) - parseInt(discounts.innerText);
                                        if(tempt < 30000){
                                            delivery.innerText = parseInt(delivery.innerText )+ parseInt(cartProdDelivery);
                                        }else{
                                            delivery.innerText=0;
                                        }
                                        totalPrice.innerText =   tempt + parseInt(delivery.innerText);
                                    }

                                });
                            }
                        }
                    </script>
                <!-- 장바구니 전체합계 -->
                <div class="total">
                    <h2>전체합계</h2>
                    <table border="0">
                        <tr>
                            <td>상품수</td>
                            <td id="prodCount" >0</td>
                        </tr>
                        <tr>
                            <td>상품금액</td>
                            <td id="prodPrices">0</td>
                        </tr>
                        <tr>
                            <td>할인금액</td>
                            <td id="discounts">0</td>
                        </tr>
                        <tr>
                            <td>배송비</td>
                            <td id="delivery">0</td>
                        </tr>
                        <tr>
                            <td>포인트</td>
                            <td id="points">0</td>
                        </tr>
                        <tr>
                            <td>전체주문금액</td>
                            <td id="totalPrice">0</td>
                        </tr>
                    </table>
                    <input type="submit" name="" id="orderBuy" value="주문하기">
                </div>

            </form>

        </section>
        <!-- 장바구니 페이지 끝 -->
    </main>
</div>
</html>