<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/productLayout}">

<div class="container" layout:fragment="content">

    <main id="product">
        <aside>
            <!-- 카테고리 -->
            <ul class="category">
                <li><i class="fa fa-bars" aria-hidden="true"></i>카테고리</li>
                <li>
                    <a th:href="@{/product/list(cateName1='의류/패션')}"><i class="fas fa-tshirt"></i>의류/패션<i
                            class="fas fa-angle-right"></i></a>
                    <ol>
                        <li><a th:href="@{/product/list(cateName1='의류/패션' , cateName2='남성의류')}" >남성의류</a>
                            <ol>
                                <li><a th:href="@{/product/list(cateName1='의류/패션' , cateName2='남성의류' , cateName3='상의')}">상의</a>
                                <li><a th:href="@{/product/list(cateName1='의류/패션' , cateName2='남성의류' , cateName3='하의')}">하의</a>
                                <li><a th:href="@{/product/list(cateName1='의류/패션' , cateName2='남성의류' , cateName3='잡화(가방,지갑,벨트)')}">잡화(가방,지갑,벨트)</a>
                                <li><a th:href="@{/product/list(cateName1='의류/패션' , cateName2='남성의류' , cateName3='신발')}">신발</a>
                            </ol>
                        </li>
                        <li><a th:href="@{/product/list(cateName1='의류/패션' , cateName2='여성의류')}">여성의류</a>
                            <ol>
                                <li><a th:href="@{/product/list(cateName1='의류/패션' , cateName2='여성의류' , cateName3= '상의')}">상의</a>
                                <li><a th:href="@{/product/list(cateName1='의류/패션' , cateName2='여성의류' , cateName3= '하의')}">하의</a>
                                <li><a th:href="@{/product/list(cateName1='의류/패션' , cateName2='여성의류' , cateName3= '잡화(가방,지갑,벨트)')}">잡화(가방,지갑,벨트)</a>
                                <li><a th:href="@{/product/list(cateName1='의류/패션' , cateName2='여성의류' , cateName3= '신발')}">신발</a>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    <a th:href="@{/product/list(cateName1='가전')}"><i class="fas fa-laptop"></i>가전<i
                            class="fas fa-angle-right"></i></a>
                    <ol>
                        <li><a th:href="@{/product/list(cateName1='가전', cateName2='생활가전')}">생활가전</a>
                            <ol>
                                <li><a th:href="@{/product/list(cateName1='가전', cateName2='생활가전' ,cateName3='세탁기/세탁기용품')}">세탁기/세탁기용품</a>
                                <li><a th:href="@{/product/list(cateName1='가전', cateName2='생활가전' ,cateName3='청소기')}">청소기</a>
                                <li><a th:href="@{/product/list(cateName1='가전', cateName2='생활가전' ,cateName3='에어컨')}">에어컨</a>
                                <li><a th:href="@{/product/list(cateName1='가전', cateName2='생활가전' ,cateName3='냉장고')}">냉장고</a>
                            </ol>
                        </li>
                        <li><a th:href="@{/product/list(cateName1='가전', cateName2='TV/영상가전')}">TV/영상가전</a>
                            <ol>
                                <li><a th:href="@{/product/list(cateName1='가전', cateName2='TV/영상가전', cateName3='TV')}">TV</a>
                                <li><a th:href="@{/product/list(cateName1='가전',cateName2='TV/영상가전', cateName3='영상플레이어')}">영상플레이어</a>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    <a th:href="@{/product/list(cateName1='식품')}"><i class="fas fa-utensils"></i>식품<i
                            class="fas fa-angle-right"></i></a>
                    <ol>
                        <li><a th:href="@{/product/list(cateName1='식품', cateName2='농/축산물')}">농/축산물</a>

                            <ol>
                                <li><a th:href="@{/product/list(cateName1='식품', cateName2='농/축산물', cateName3='정육/계란')}">정육/계란</a>
                                <li><a th:href="@{/product/list(cateName1='식품', cateName2='농/축산물', cateName3='정육/계란')}">쌀/잡곡/견과</a>
                                <li><a th:href="@{/product/list(cateName1='식품', cateName2='농/축산물', cateName3='정육/계란')}">과일</a>
                                <li><a th:href="@{/product/list(cateName1='식품', cateName2='농/축산물', cateName3='정육/계란')}">채소</a>
                            </ol>

                        </li>
                        <li><a th:href="@{/product/list(cateName1='식품', cateName2='수산/건어물')}">수산/건어물</a>

                            <ol>
                                <li><a th:href="@{/product/list(cateName1='식품', cateName2='수산/건어물', cateName3='생선')}">생선</a>
                                <li><a th:href="@{/product/list(cateName1='식품', cateName2='수산/건어물', cateName3='김/해조류')}">김/해조류</a>
                                <li><a th:href="@{/product/list(cateName1='식품', cateName2='수산/건어물', cateName3='전복/굴/조개류')}">전복/굴/조개류</a>
                                <li><a th:href="@{/product/list(cateName1='식품', cateName2='수산/건어물', cateName3='오징어/낙지/쭈꾸미')}">오징어/낙지/쭈꾸미</a>
                            </ol>
                        </li>
                    </ol>
                <li>


                    <a th:href="@{/product/list(cateName1='반려동물')}"><i class="fas fa-home"></i>반려동물<i
                            class="fas fa-angle-right"></i></a>
                    <ol>
                        <li>
                            <a th:href="@{/product/list(cateName1='반려동물', cateName2='강아지')}">강아지</a>
                            <ol>
                                <li><a th:href="@{/product/list(cateName1='반려동물', cateName2='강아지', cateName3='사료/영양제')}">사료/영양제</a></li>
                                <li><a th:href="@{/product/list(cateName1='반려동물', cateName2='강아지', cateName3='간식')}">간식</a></li>
                                <li><a th:href="@{/product/list(cateName1='반려동물', cateName2='강아지', cateName3='배변용품')}">배변용품</a></li>
                                <li><a th:href="@{/product/list(cateName1='반려동물', cateName2='강아지', cateName3='장난감/훈련용품')}">장난감/훈련용품</a></li>
                            </ol>
                        </li>
                        <li>
                            <a th:href="@{/product/list(cateName1='반려동물', cateName2='고양이')}">고양이</a>
                            <ol>
                                <li><a th:href="@{/product/list(cateName1='반려동물', cateName2='고양이', cateName3='사료/영양제')}">사료/영양제</a></li>
                                <li><a th:href="@{/product/list(cateName1='반려동물', cateName2='고양이', cateName3='간식')}">간식</a></li>
                                <li><a th:href="@{/product/list(cateName1='반려동물', cateName2='고양이', cateName3='배변용품')}">배변용품</a></li>
                                <li><a th:href="@{/product/list(cateName1='반려동물', cateName2='고양이', cateName3='장난감/훈련용품')}">장난감/훈련용품</a></li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ul>
        </aside>

        <!-- 결제완료 페이지 시작 -->
        <section class="complete">

            <!-- 제목, 페이지 네비게이션 -->
            <nav>
                <h1>주문완료</h1>
                <p>
                    HOME > 장바구니 > 주문결제 > <strong>주문완료</strong>
                </p>
            </nav>

            <!-- 완료 멘트 -->
            <article class="message">
                <h2>고객님의 주문이 정상적으로 완료되었습니다.<i class="far fa-smile"></i></h2>
                <p>
                    즐거운 쇼핑이 되셨습니까? 항상 고객님을 최우선으로 생각하는 롯데ON이 되겠습니다.
                </p>
            </article>

            <!-- 상품정보 -->
            <article class="info">
                <h1>상품정보</h1>
                <table border="0">
                    <tr>
                        <th>상품명</th>
                        <th>상품금액</th>
                        <th>상품 할인금액</th>
                        <th>수량</th>
                        <th>주문금액</th>
                    </tr>
                    <tr th:each="item , index:${orderItems}">
                        <td>
                            <article>
                                <img th:src="@{/uploads/__${item.product.image1}__}" alt="상품이미지"/>
                                <div>
                                    <h2><a th:href="@{/product/view(prodno=${item.product.prodNo})}">
                                        [[${item.product.prodName}]]
                                    </a></h2>
                                    <p th:text="${item.product.etc}"></p>
                                </div>
                            </article>
                        </td>
                        <td th:text="${#numbers.formatInteger(item.itemPrice ,1 , 'COMMA')}+'원'"></td>
                        <td th:text="${#numbers.formatInteger(#numbers.formatDecimal(item.itemPrice * (item.getItemDiscount()) * 0.01, 1, 0),1,'COMMA' ) }+'원'"></td>
                        <td th:text="${item.itemCount}"></td>
                        <td th:text="${#numbers.formatInteger(#numbers.formatDecimal(item.itemPrice * (100 - item.getItemDiscount()) * 0.01 * item.itemCount, 1, 0),1,'COMMA' ) }+'원'"></td>
                    </tr>
                </table>
            </article>

            <!-- 주문정보 -->
            <article class="order">
                <h1>주문정보</h1>
                <table border="0">
                    <tr>
                        <td>주문번호</td>
                        <td>[[${order.orderNo}]]</td>
                        <td >총 상품금액</td>
                        <td  ><span style="color: black" th:text="${#numbers.formatInteger(order.orderTotalPrice + order.getItemDiscount() + order.couponDiscount,1,'COMMA')}"></span>원</td>
                    </tr>
                    <tr>
                        <td>결제방법</td>
                        <td th:text="${order.payment}"></td>
                        <td >상품 할인금액</td>
                        <td ><span style="color: black" th:text="${#numbers.formatInteger(order.getItemDiscount(),1,'COMMA')}"></span>원</td>
                    </tr>
                    <tr>
                        <td>주문자 : 연락처</td>
                        <td>[[${order.sendName}]] : [[${order.sendHp}]]</td>
                        <td >쿠폰 할인금액</td>
                        <td th:if="${order.couponDiscount != 0}"><span style="color: black" th:text="${#numbers.formatInteger(order.couponDiscount,1,'COMMA')}"></span>원</td>
                        <td th:if="${order.couponDiscount == 0}"><span style="color: black">사용 쿠폰 없음</span></td>
                    </tr>
                    <tr>
                        <td>수취인 : 연락처</td>
                        <td>[[${order.receiveName}]] : [[${order.receiveHp}]]</td>
                        <td>배송비</td>
                        <td th:if="${order.delivery!=0}"><span style="color: black" th:text="${#numbers.formatInteger(order.delivery,1,'COMMA')}"></span>원</td>
                        <td th:if="${order.delivery==0}"><span style="color: black" >무료배송</span></td>
                    </tr>
                    <tr>
                        <td>배송지 주소</td>
                        <td>[ [[${order.zip}]] ] [[${order.addr1}]] [[${order.addr2}]]</td>
                        <td>총 결제금액</td>
                        <td><span th:text="${#numbers.formatInteger(order.orderTotalPrice,1,'COMMA')}"></span>원</td>
                    </tr>
                </table>
            </article>


            <!-- 꼭 알아두세요. -->
            <article class="alert">
                <h1>꼭 알아두세요.</h1>
                <ul>
                    <li><span>롯데ON은 통신판매중개자이며 통신판매의 당사자가 아닙니다. 따라서 롯데ON은 상품, 거래정보 및 거래에 대하여 책임을 지지 않습니다.</span></li>
                    <li><span>구매주문내역, 배송상태 확인, 구매영수증 출력, 구매취소/반품/교환은 사이트 상단의 주문/배송조회에서 확인 할 수 있습니다.</span></li>
                    <li><span>고객님의 주문이 체결된 후 상품품절 및 단종 등에 의해 배송이 불가능할 경우, 전자상거래등에서의 소비자 보호에 관한 법률 제15조 2항에 의거하여 3영업일(공휴일 제외) 이내에 자동으로 취소될 수 있으며, 이 경우 취소 안내 메일이 고객님께 발송되오니 양지 바랍니다.</span>
                    </li>
                    <li><span>극히 일부 상품에 대해 수량부족, 카드결제승인 오류등의 사례가 간혹 있을 수 있으니 `나의쇼핑정보`에서 다시 한번 확인해 주세요.</span></li>
                    <li><span>현금잔고로 구매하셨을 경우, 나의 쇼핑정보에서 입금확인이 되었는지를 다시 한번 확인해 주세요.</span></li>
                    <li><span>배송주소를 추가하거나 변경, 삭제 등의 관리는 `나의쇼핑정보 > 나의정보` 에서 가능합니다.</span></li>
                </ul>
            </article>

        </section>
        <!-- 결제완료 페이지 끝 -->
    </main>
</div>
</html>