<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/productLayout}">

<div class="container" layout:fragment="content">
    <script src="https://kit.fontawesome.com/f98645e8a0.js" crossorigin="anonymous"></script>


    <script>
        //검색(form을 Get전송)
        function submitForm() {

            const min = parseInt(document.getElementById('min').value);
            const max = parseInt(document.getElementById('max').value);

            if (min > max) {
                alert("최소값과 최대값을 정확히 입력해주세요");
                return false;
            }

            document.getElementById("searchForm").submit();
            return true;
        }

    </script>

    <main id="product">
        <aside>
            <!-- 카테고리 -->
            <ul class="category">
                <li><i class="fa fa-bars" aria-hidden="true"></i>카테고리</li>
                <li>
                    <a th:href="@{/product/list(cateName1='의류/패션')}"><i class="fas fa-tshirt"></i>의류/패션<i
                            class="fas fa-angle-right"></i></a>
                    <ol>
                        <li><a th:href="@{/product/list(cateName1='의류/패션' , cateName2='남성의류')}">남성의류</a>
                            <ol>
                                <li>
                                    <a th:href="@{/product/list(cateName1='의류/패션' , cateName2='남성의류' , cateName3='상의')}">상의</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='의류/패션' , cateName2='남성의류' , cateName3='하의')}">하의</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='의류/패션' , cateName2='남성의류' , cateName3='잡화(가방,지갑,벨트)')}">잡화(가방,지갑,벨트)</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='의류/패션' , cateName2='남성의류' , cateName3='신발')}">신발</a>
                            </ol>
                        </li>
                        <li><a th:href="@{/product/list(cateName1='의류/패션' , cateName2='여성의류')}">여성의류</a>
                            <ol>
                                <li>
                                    <a th:href="@{/product/list(cateName1='의류/패션' , cateName2='여성의류' , cateName3= '상의')}">상의</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='의류/패션' , cateName2='여성의류' , cateName3= '하의')}">하의</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='의류/패션' , cateName2='여성의류' , cateName3= '잡화(가방,지갑,벨트)')}">잡화(가방,지갑,벨트)</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='의류/패션' , cateName2='여성의류' , cateName3= '신발')}">신발</a>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    <a th:href="@{/product/list(cateName1='가전')}"><i class="fas fa-laptop"></i>가전<i
                            class="fas fa-angle-right"></i></a>
                    <ol>
                        <li><a th:href="@{/product/list(cateName1='가전', cateName2='생활가전')}">생활가전</a>
                            <ol>
                                <li>
                                    <a th:href="@{/product/list(cateName1='가전', cateName2='생활가전' ,cateName3='세탁기/세탁기용품')}">세탁기/세탁기용품</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='가전', cateName2='생활가전' ,cateName3='청소기')}">청소기</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='가전', cateName2='생활가전' ,cateName3='에어컨')}">에어컨</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='가전', cateName2='생활가전' ,cateName3='냉장고')}">냉장고</a>
                            </ol>
                        </li>
                        <li><a th:href="@{/product/list(cateName1='가전', cateName2='TV/영상가전')}">TV/영상가전</a>
                            <ol>
                                <li><a th:href="@{/product/list(cateName1='가전', cateName2='TV/영상가전', cateName3='TV')}">TV</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='가전',cateName2='TV/영상가전', cateName3='영상플레이어')}">영상플레이어</a>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    <a th:href="@{/product/list(cateName1='식품')}"><i class="fas fa-utensils"></i>식품<i
                            class="fas fa-angle-right"></i></a>
                    <ol>
                        <li><a th:href="@{/product/list(cateName1='식품', cateName2='농/축산물')}">농/축산물</a>

                            <ol>
                                <li><a th:href="@{/product/list(cateName1='식품', cateName2='농/축산물', cateName3='정육/계란')}">정육/계란</a>
                                <li><a th:href="@{/product/list(cateName1='식품', cateName2='농/축산물', cateName3='정육/계란')}">쌀/잡곡/견과</a>
                                <li><a th:href="@{/product/list(cateName1='식품', cateName2='농/축산물', cateName3='정육/계란')}">과일</a>
                                <li><a th:href="@{/product/list(cateName1='식품', cateName2='농/축산물', cateName3='정육/계란')}">채소</a>
                            </ol>

                        </li>
                        <li><a th:href="@{/product/list(cateName1='식품', cateName2='수산/건어물')}">수산/건어물</a>

                            <ol>
                                <li>
                                    <a th:href="@{/product/list(cateName1='식품', cateName2='수산/건어물', cateName3='생선')}">생선</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='식품', cateName2='수산/건어물', cateName3='김/해조류')}">김/해조류</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='식품', cateName2='수산/건어물', cateName3='전복/굴/조개류')}">전복/굴/조개류</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='식품', cateName2='수산/건어물', cateName3='오징어/낙지/쭈꾸미')}">오징어/낙지/쭈꾸미</a>
                            </ol>
                        </li>
                    </ol>
                <li>


                    <a th:href="@{/product/list(cateName1='반려동물')}"><i class="fas fa-home"></i>반려동물<i
                            class="fas fa-angle-right"></i></a>
                    <ol>
                        <li>
                            <a th:href="@{/product/list(cateName1='반려동물', cateName2='강아지')}">강아지</a>
                            <ol>
                                <li>
                                    <a th:href="@{/product/list(cateName1='반려동물', cateName2='강아지', cateName3='사료/영양제')}">사료/영양제</a>
                                </li>
                                <li>
                                    <a th:href="@{/product/list(cateName1='반려동물', cateName2='강아지', cateName3='간식')}">간식</a>
                                </li>
                                <li><a th:href="@{/product/list(cateName1='반려동물', cateName2='강아지', cateName3='배변용품')}">배변용품</a>
                                </li>
                                <li>
                                    <a th:href="@{/product/list(cateName1='반려동물', cateName2='강아지', cateName3='장난감/훈련용품')}">장난감/훈련용품</a>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <a th:href="@{/product/list(cateName1='반려동물', cateName2='고양이')}">고양이</a>
                            <ol>
                                <li>
                                    <a th:href="@{/product/list(cateName1='반려동물', cateName2='고양이', cateName3='사료/영양제')}">사료/영양제</a>
                                </li>
                                <li>
                                    <a th:href="@{/product/list(cateName1='반려동물', cateName2='고양이', cateName3='간식')}">간식</a>
                                </li>
                                <li><a th:href="@{/product/list(cateName1='반려동물', cateName2='고양이', cateName3='배변용품')}">배변용품</a>
                                </li>
                                <li>
                                    <a th:href="@{/product/list(cateName1='반려동물', cateName2='고양이', cateName3='장난감/훈련용품')}">장난감/훈련용품</a>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ul>
        </aside>

        <!-- 상품검색 화면 시작 -->
        <section class="search">

            <!-- 제목, 페이지 네비게이션 -->
            <nav>
                <h1>상품 검색 결과</h1>
                <p>
                    HOME > <span>상품검색</span> > <strong>검색키워드</strong>
                </p>
            </nav>

            <!-- 검색결과 그룹박스 -->
            <div class="group">
                <h3><strong th:text="${searchResult.keyword}">셔츠</strong>검색결과 <em>(총&nbsp;:&nbsp;<span
                        th:text="${searchResult.total}">20</span>&nbsp;건)</em></h3>

                <form id="searchForm" th:action="@{/product/search}" onsubmit="return submitForm()">
                    <input type="text" name="detail" id="detail" class="detail" th:value="${searchResult.getDetail()}"/>
                    <input type="submit" id="btnSubmit" value="검색"/>
                    <input type="hidden" name="keyword" th:value="${searchResult.keyword}"/>
                    <span>
                        <label><input type="checkbox" name="detailCheckbox" id="detailCheckbox" value="상품명">상품명</label>
                        <label><input type="checkbox" name="etcCheckbox" id="etcCheckbox" value="상품설명">상품설명</label>
                        <label><input type="checkbox" name="priceCheckbox" id="priceCheckbox" value="상품가격">상품가격</label>
                        <input type="text" id="min" name="minPrice" placeholder="최소 가격"/>원&nbsp;~&nbsp;
                        <input type="text" id="max" name="maxPrice" placeholder="최대 가격"/>원
                    </span>
                </form>
                <p class="info">
                    상세검색을 선택하지 않거나, 상품가격을 입력하지 않으면 현재 결과내에서 검색합니다.<br>
                    검색어는 최대 10글자까지, 여러개의 검색어를 공백으로 구분하여 입력 할수 있습니다.
                </p>
            </div>

            <!-- 정렬 메뉴 -->
            <ul class="sort">
                <li><a th:href="@{/product/search(cate='prodSold', keyword=${session.keyword} , detail=${searchResult.detail}
                 , minPrice=${searchResult.minPrice} , maxPrice=${searchResult.maxPrice}, detailCheckbox=${searchResult.detailCheckbox}, etcCheckbox=${searchResult.etcCheckbox}, priceCheckbox=${searchResult.priceCheckbox})}">판매많은순</a>
                </li>
                <li>
                    <a th:href="@{/product/search(cate='lowPrice', keyword=${session.keyword} ,detail=${searchResult.detail}, minPrice=${searchResult.minPrice} , maxPrice=${searchResult.maxPrice}, detailCheckbox=${searchResult.detailCheckbox}, etcCheckbox=${searchResult.etcCheckbox}, priceCheckbox=${searchResult.priceCheckbox})}">낮은가격순</a>
                </li>
                <li>
                    <a th:href="@{/product/search(cate='highPrice', keyword=${session.keyword}  ,detail=${searchResult.detail} , minPrice=${searchResult.minPrice} , maxPrice=${searchResult.maxPrice}, detailCheckbox=${searchResult.detailCheckbox}, etcCheckbox=${searchResult.etcCheckbox}, priceCheckbox=${searchResult.priceCheckbox})}">높은가격순</a>
                </li>
                <li>
                    <a th:href="@{/product/search(cate='highAvg', keyword=${session.keyword} ,detail=${searchResult.detail} , minPrice=${searchResult.minPrice} , maxPrice=${searchResult.maxPrice}, detailCheckbox=${searchResult.detailCheckbox}, etcCheckbox=${searchResult.etcCheckbox}, priceCheckbox=${searchResult.priceCheckbox})}">평점높은순</a>
                </li>
                <li>
                    <a th:href="@{/product/search(cate='highReview', keyword=${session.keyword} ,detail=${searchResult.detail} , minPrice=${searchResult.minPrice} , maxPrice=${searchResult.maxPrice}, detailCheckbox=${searchResult.detailCheckbox}, etcCheckbox=${searchResult.etcCheckbox}, priceCheckbox=${searchResult.priceCheckbox})}">후기많은순</a>
                </li>
                <li>
                    <a th:href="@{/product/search(cate='current', keyword=${session.keyword} , detail=${searchResult.detail} , minPrice=${searchResult.minPrice} , maxPrice=${searchResult.maxPrice}, detailCheckbox=${searchResult.detailCheckbox}, etcCheckbox=${searchResult.etcCheckbox}, priceCheckbox=${searchResult.priceCheckbox})}">최근등록순</a>
                </li>
            </ul>

            <!-- 검색목록 -->
            <table border="0">
                <tr th:each="result, index:${searchResult.dtoList}" >
                    <td><a  th:href="@{/product/view(prodno=${result.prodNo})}" class="thumb"><img
                            style="height: 120px"    th:src="@{/uploads/__${result.image1}__}" alt="상품이미지"/></a></td>
                    <td>
                        <h3 class="name" th:text="${result.prodName}">상품명</h3>
                        <a th:href="@{/product/view(prodno=${result.prodNo})}" class="desc" th:text="${result.etc}">상품
                            설명</a>
                    </td>
                    <td>
                        <ul>
                            <li>
                                <ins class="dis-price"
                                     th:text="${ #numbers.formatInteger(#numbers.formatDecimal(result.prodPrice * (100 - result.prodDiscount) * 0.01 , 1, 0) , 1 ,'COMMA') }">
                                    27,000
                                </ins>
                            </li>
                            <li>
                                <del th:if="${result.prodDiscount>0}" class="org-price" th:text="${result.prodPrice}">
                                    30,000
                                </del>
                                <span th:if="${result.prodDiscount>0}" class="discount"
                                      th:text="${result.prodDiscount}">10%</span>
                            </li>
                            <li><span th:if="${result.delivery ==0}" class="free-delivery">무료배송</span></li>
                            <li><span th:if="${result.delivery !=0}"><i class="fa fa-truck"></i>  [[${result.delivery}]]</span></span>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <h4 class="seller"><i class="fas fa-home" th:text="${result.sellerName}"></i>&nbsp;</h4>
                        <div th:switch="${result.seller.grade}" style="display: inline-block">

                            <div th:case="베스트딜러">
                                <span>👑</span>
                            </div>
                            <div th:case="*">
                                <span>🌱</span>
                            </div>
                        </div>
                        <h5 th:text="${result.seller.grade}" style="display: inline-block"></h5>
                        <div style="clear: both; padding-top: 10px;">
                            <span th:each="starIndex : ${#numbers.sequence(1, result.avg)}"
                                  th:if="${result.reviews.size()}>0"
                                  style="padding-bottom: 10px">
                                          <svg style="color: #ffd500" xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
                                               class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                        </svg>
                            </span>
                        </div>
                    </td>
                </tr>

            </table>

            <!-- 상품목록 페이지번호 -->
            <div class="paging">
                        <span class="prev" th:if="${searchResult.prev}">
                            <a th:href="@{/product/search(pg=${searchResult.start -1}, keyword =${searchResult.getKeyword()},detail=${searchResult.getDetail()},minPrice=${searchResult.minPrice} , maxPrice=${searchResult.maxPrice}, detailCheckbox=${searchResult.detailCheckbox}, etcCheckbox=${searchResult.etcCheckbox}, priceCheckbox=${searchResult.priceCheckbox},cate=${searchResult.cate} )}"><&nbsp;이전</a>
                        </span>
                <span class="num" th:each="num:${#numbers.sequence(searchResult.start, searchResult.end)}">
                            <th:block th:if="${num == searchResult.pg}">
                                 <a th:href="@{/product/search( pg=${num}
                               , keyword =${searchResult.getKeyword()},detail=${searchResult.getDetail()},minPrice=${searchResult.minPrice} , maxPrice=${searchResult.maxPrice}, detailCheckbox=${searchResult.detailCheckbox}, etcCheckbox=${searchResult.etcCheckbox}, priceCheckbox=${searchResult.priceCheckbox},cate=${searchResult.cate} )}"
                                    class="on">[[${num}]]</a>
                            </th:block>

                            <th:block th:if="${num != searchResult.pg}">
                                 <a th:href="@{/product/search( pg=${num} , keyword =${searchResult.getKeyword()}, detail=${searchResult.getDetail()},minPrice=${searchResult.minPrice} , maxPrice=${searchResult.maxPrice}, detailCheckbox=${searchResult.detailCheckbox}, etcCheckbox=${searchResult.etcCheckbox}, priceCheckbox=${searchResult.priceCheckbox},cate=${searchResult.cate} )}">[[${num}]]</a>
                            </th:block>
                        </span>
                <span class="next" th:if="${searchResult.next}">
                            <a th:href="@{/product/search( pg=${searchResult.end+1} , keyword =${searchResult.getKeyword()},detail=${searchResult.getDetail()},minPrice=${searchResult.minPrice} , maxPrice=${searchResult.maxPrice}, detailCheckbox=${searchResult.detailCheckbox}, etcCheckbox=${searchResult.etcCheckbox}, priceCheckbox=${searchResult.priceCheckbox},cate=${searchResult.cate} )}">다음&nbsp;></a>
                        </span>
            </div>
        </section>
        <!-- 상품검색 화면 끝 -->
    </main>
</div>
</html>
