<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/productLayout}">

<div class="container" layout:fragment="content">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>


    </script>

    <style>
        #like {
            background-color: white;
            border: none;
        }

        #unlike {
            background-color: white;
            border: none;
        }

        #color {
            width: 100%;
            height: 50px;
        }

        #size {
            width: 100%;
            height: 50px;
        }

        /* 배경색 및 패딩 등의 스타일링 */
        .prodReviewBox {
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .prodReviewHeader {
            margin-bottom: 20px;
        }

        .head {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .starRating img {
            width: 20px;
            height: auto;
        }

        .prodReview {
            border-bottom: 1px solid #ccc;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }

        .prodReview p {
            margin-bottom: 10px;
        }

        /* 평점 비율 막대 그래프 스타일링 */
        .rating-bar {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .bar-label {
            width: 60px; /* 막대 그래프 레이블의 너비 지정 */
        }

        .bar {
            background-color: #007bff; /* 막대 그래프 색상 지정 */
            height: 20px; /* 막대 그래프 높이 지정 */
            margin-right: 10px; /* 막대 그래프 간격 지정 */
        }

        /* 별점 이미지 스타일링 */
        .prodReviewHeader img {
            max-width: 80px;
            height: auto;
            margin-right: 5px; /* 별점 이미지 간격 조정 */
        }

        .page {
            margin-top: 20px;
        }

        .page ul {
            list-style: none;
            padding: 0;
        }

        .page li {
            display: inline-block;
            margin-right: 10px;
        }

        .page li:last-child {
            margin-right: 0;
        }


        .pagination-link {
            display: inline-block;
            padding: 8px 12px;
            background-color: #f5f5f5;
            color: #333;
            border: 1px solid #ccc;
            border-radius: 4px;
            text-decoration: none;
            margin-right: 5px;
        }

        .pagination-link:hover {
            background-color: #e0e0e0;
        }

        .detail {
            border-top: 1px solid #000000; /* 구분 선 스타일 및 색상 지정 */
            padding-bottom: 20px; /* 리뷰 사이의 간격 조정 */
            margin-bottom: 20px;;
        }

        .count {
            display: flex;
            justify-content: space-between; /* 요소들을 동일한 간격으로 분산 정렬 */
            align-items: center; /* 수직 중앙 정렬 */
        }

        .selectDelete {
            margin-left: auto;
        }

        .quantity-container {
            display: flex;
            align-items: center;
        }

        .quantity-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 5px;
            text-align: center;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 5px;
        }

        .quantity-container input[type="number"] {
            width: 30px;
            text-align: center;
            border: none;
        }

        .quantity-container input[type="text"] {
            width: 10px;
            flex-grow: 1;
            border: none;
            text-align: center;
        }

        .quantity-container button {
            background-color: #d2d2d2;
            color: white;
            border: none;
            cursor: pointer;
            padding: 4px 8px;
            text-decoration: none;
            margin-left: 5px;
            border-radius: 4px;
        }

        .quantity-container button:hover {
            background-color: #606060;
        }

    </style>

    <main id="product">
        <aside>
            <!-- 카테고리 -->
            <ul class="category">
                <li><i class="fa fa-bars" aria-hidden="true"></i>카테고리</li>
                <li>
                    <a th:href="@{/product/list(cateName1='의류/패션')}"><i class="fas fa-tshirt"></i>의류/패션<i
                            class="fas fa-angle-right"></i></a>
                    <ol>
                        <li><a th:href="@{/product/list(cateName1='의류/패션' , cateName2='남성의류')}">남성의류</a>
                            <ol>
                                <li>
                                    <a th:href="@{/product/list(cateName1='의류/패션' , cateName2='남성의류' , cateName3='상의')}">상의</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='의류/패션' , cateName2='남성의류' , cateName3='하의')}">하의</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='의류/패션' , cateName2='남성의류' , cateName3='잡화(가방,지갑,벨트)')}">잡화(가방,지갑,벨트)</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='의류/패션' , cateName2='남성의류' , cateName3='신발')}">신발</a>
                            </ol>
                        </li>
                        <li><a th:href="@{/product/list(cateName1='의류/패션' , cateName2='여성의류')}">여성의류</a>
                            <ol>
                                <li>
                                    <a th:href="@{/product/list(cateName1='의류/패션' , cateName2='여성의류' , cateName3= '상의')}">상의</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='의류/패션' , cateName2='여성의류' , cateName3= '하의')}">하의</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='의류/패션' , cateName2='여성의류' , cateName3= '잡화(가방,지갑,벨트)')}">잡화(가방,지갑,벨트)</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='의류/패션' , cateName2='여성의류' , cateName3= '신발')}">신발</a>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    <a th:href="@{/product/list(cateName1='가전')}"><i class="fas fa-laptop"></i>가전<i
                            class="fas fa-angle-right"></i></a>
                    <ol>
                        <li><a th:href="@{/product/list(cateName1='가전', cateName2='생활가전')}">생활가전</a>
                            <ol>
                                <li>
                                    <a th:href="@{/product/list(cateName1='가전', cateName2='생활가전' ,cateName3='세탁기/세탁기용품')}">세탁기/세탁기용품</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='가전', cateName2='생활가전' ,cateName3='청소기')}">청소기</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='가전', cateName2='생활가전' ,cateName3='에어컨')}">에어컨</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='가전', cateName2='생활가전' ,cateName3='냉장고')}">냉장고</a>
                            </ol>
                        </li>
                        <li><a th:href="@{/product/list(cateName1='가전', cateName2='TV/영상가전')}">TV/영상가전</a>
                            <ol>
                                <li><a th:href="@{/product/list(cateName1='가전', cateName2='TV/영상가전', cateName3='TV')}">TV</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='가전',cateName2='TV/영상가전', cateName3='영상플레이어')}">영상플레이어</a>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    <a th:href="@{/product/list(cateName1='식품')}"><i class="fas fa-utensils"></i>식품<i
                            class="fas fa-angle-right"></i></a>
                    <ol>
                        <li><a th:href="@{/product/list(cateName1='식품', cateName2='농/축산물')}">농/축산물</a>

                            <ol>
                                <li><a th:href="@{/product/list(cateName1='식품', cateName2='농/축산물', cateName3='정육/계란')}">정육/계란</a>
                                <li><a th:href="@{/product/list(cateName1='식품', cateName2='농/축산물', cateName3='정육/계란')}">쌀/잡곡/견과</a>
                                <li><a th:href="@{/product/list(cateName1='식품', cateName2='농/축산물', cateName3='정육/계란')}">과일</a>
                                <li><a th:href="@{/product/list(cateName1='식품', cateName2='농/축산물', cateName3='정육/계란')}">채소</a>
                            </ol>

                        </li>
                        <li><a th:href="@{/product/list(cateName1='식품', cateName2='수산/건어물')}">수산/건어물</a>

                            <ol>
                                <li>
                                    <a th:href="@{/product/list(cateName1='식품', cateName2='수산/건어물', cateName3='생선')}">생선</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='식품', cateName2='수산/건어물', cateName3='김/해조류')}">김/해조류</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='식품', cateName2='수산/건어물', cateName3='전복/굴/조개류')}">전복/굴/조개류</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='식품', cateName2='수산/건어물', cateName3='오징어/낙지/쭈꾸미')}">오징어/낙지/쭈꾸미</a>
                            </ol>
                        </li>
                    </ol>
                <li>


                    <a th:href="@{/product/list(cateName1='반려동물')}"><i class="fas fa-home"></i>반려동물<i
                            class="fas fa-angle-right"></i></a>
                    <ol>
                        <li>
                            <a th:href="@{/product/list(cateName1='반려동물', cateName2='강아지')}">강아지</a>
                            <ol>
                                <li>
                                    <a th:href="@{/product/list(cateName1='반려동물', cateName2='강아지', cateName3='사료/영양제')}">사료/영양제</a>
                                </li>
                                <li>
                                    <a th:href="@{/product/list(cateName1='반려동물', cateName2='강아지', cateName3='간식')}">간식</a>
                                </li>
                                <li><a th:href="@{/product/list(cateName1='반려동물', cateName2='강아지', cateName3='배변용품')}">배변용품</a>
                                </li>
                                <li>
                                    <a th:href="@{/product/list(cateName1='반려동물', cateName2='강아지', cateName3='장난감/훈련용품')}">장난감/훈련용품</a>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <a th:href="@{/product/list(cateName1='반려동물', cateName2='고양이')}">고양이</a>
                            <ol>
                                <li>
                                    <a th:href="@{/product/list(cateName1='반려동물', cateName2='고양이', cateName3='사료/영양제')}">사료/영양제</a>
                                </li>
                                <li>
                                    <a th:href="@{/product/list(cateName1='반려동물', cateName2='고양이', cateName3='간식')}">간식</a>
                                </li>
                                <li><a th:href="@{/product/list(cateName1='반려동물', cateName2='고양이', cateName3='배변용품')}">배변용품</a>
                                </li>
                                <li>
                                    <a th:href="@{/product/list(cateName1='반려동물', cateName2='고양이', cateName3='장난감/훈련용품')}">장난감/훈련용품</a>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ul>
        </aside>

        <!-- 상품 상세페이지 시작 -->
        <section class="view">

            <!-- 제목, 페이지 네비게이션 -->
            <nav>
                <h1>상품보기</h1>
                <p>
                    HOME > <span>[[${product.cateName1}]]</span> >
                    <span>[[${product.cateName2}]]</span> > <strong>[[${product.cateName3}]]</strong>
                </p>
            </nav>

            <!-- 상품 전체 정보 내용 -->
            <article class="info">
                <div class="image">
                    <img th:src="@{/uploads/__${product.image1}__}" th:alt="${product.prodName}" alt="">
                </div>
                <div class="summary">
                    <nav>
                        <p style="position: relative">
                            <span style="font-size: larger; font-weight: bold;">(주)</span>
                            <span th:text="${product.sellerName}" style="font-size: larger; font-weight: bold;"></span>
                            <button id="unlike"
                                    style="position: absolute; right: 5px; font-size: x-large; font-weight: bold; display: none ">
                                🤍
                            </button>
                            <button id="like"
                                    style="position: absolute; right: 5px; font-size: x-large; font-weight: bold; display: none">
                                ❤️
                            </button>

                        </p>
                        <h2>상품번호&nbsp;:&nbsp;<span id="prodId" th:text="${product.prodNo}">10010118412</span></h2>
                    </nav>
                    <nav>
                        <h3 th:text="${product.prodName}">상품명</h3>
                        <p th:text="${product.etc}">상품설명 출력</p>
                        <h5>
                            <img th:if="${reviewRatioDTO.r_avg} == 1 " th:src="@{/review/review_star1.png}"
                                 alt="oneStar"
                                 style="max-width: 80px; height: auto;">
                            <img th:if="${reviewRatioDTO.r_avg} == 2 " th:src="@{/review/review_star2.png}"
                                 alt="oneStar"
                                 style="max-width: 80px; height: auto;">
                            <img th:if="${reviewRatioDTO.r_avg} == 3 " th:src="@{/review/review_star3.png}"
                                 alt="oneStar"
                                 style="max-width: 80px; height: auto;">
                            <img th:if="${reviewRatioDTO.r_avg} == 4 " th:src="@{/review/review_star4.png}"
                                 alt="oneStar"
                                 style="max-width: 80px; height: auto;">
                            <img th:if="${reviewRatioDTO.r_avg} == 5 " th:src="@{/review/review_star5.png}"
                                 alt="oneStar"
                                 style="max-width: 80px; height: auto;"><a href="#">상품평보기</a></h5>
                    </nav>
                    <nav>
                        <div class="org_price">
                            <del th:text="${product.prodPrice}" id="ori_price">45,000</del>
                            <span th:text="${product.prodDiscount}+'%'"></span>
                        </div>
                        <div class="dis_price">
                            <ins id="disCount"
                                 th:text="${#numbers.formatDecimal(product.prodPrice * (100 - product.prodDiscount) * 0.01, 1, 0 )}">
                                할인된 가격
                            </ins>
                        </div>
                    </nav>
                    <nav>
                        <span class="delivery">무료배송</span>
                        <span>
                            <b class="arrival"
                               th:text="${#temporals.format(#temporals.createNow().plusDays(2), 'MM-dd')}"
                               style="font-size: 20px"></b> 도착
                            예정
                        </span>
                        <span class="desc">본 상품은 국내배송만 가능합니다.</span>
                    </nav>
                    <nav>
                        <span class="card cardfree"><i>아이콘</i>무이자할부</span>
                        <span class="card cardadd"><i>아이콘</i>카드추가혜택</span>
                    </nav>
                    <nav>
                        <span class="origin">원산지-상세설명 참조</span>
                    </nav>
                    <!-- 만약에 옵션이 있는 경우-->
                    <script>
                        window.onload = async function () {


                            const score1 = [[${reviewRatioDTO.percent1}]];
                            const score2 = [[${reviewRatioDTO.percent2}]];
                            const score3 = [[${reviewRatioDTO.percent3}]];
                            const score4 = [[${reviewRatioDTO.percent4}]];
                            const score5 = [[${reviewRatioDTO.percent5}]];


                            const color = document.getElementById('color');
                            const size = document.getElementById('size');
                            const totalPrice = document.getElementById('total_price');
                            const prodNo = [[${product.prodNo}]];
                            const prodDiscount = [[${product.prodDiscount}]];
                            var price = [[${product.prodPrice}]];
                            const like = document.getElementById('like');
                            const unlike = document.getElementById('unlike');


                            // 리뷰로 스크롤 이동 //
                            const prodReviewBox = document.getElementsByClassName('prodReviewBox')[0];
                            const moveReview = document.getElementsByClassName('moveReview')[0];
                            moveReview.onclick = function (e) {
                                e.preventDefault();
                                prodReviewBox.scrollIntoView();
                            }

                            try {
                                const userID = document.getElementById('userId').value;
                                const result = await fetchGet('/lotteshop/product/likeSearch?userId=' + userID + '&prodNo=' + [[${product.prodNo}]]);
                                if (result.data == 1) {
                                    like.style.display = '';
                                    unlike.style.display = 'none';
                                } else {
                                    like.style.display = 'none';
                                    unlike.style.display = '';
                                }
                            } catch (e) {
                                like.style.display = 'none';
                                unlike.style.display = '';
                            }

                            try {
                                color.onchange = async function () {
                                    sCor = this.value;

                                    // 옵션 사이즈를 추가
                                    const result = await fetchGet('/lotteshop/product/optionSelect?color=' + this.value + '&prodNo=' + prodNo);
                                    console.log(result.sub);
                                    // 기존의 옵션을 제거
                                    size.innerHTML = '';
                                    // 새로운 옵션을 추가
                                    const defaultOption = document.createElement('option');
                                    defaultOption.style.fontSize = 'x-large';
                                    defaultOption.value = "";
                                    defaultOption.disabled = true;
                                    defaultOption.selected = true;
                                    defaultOption.textContent = "::(필수)옵션 사이즈 선택";
                                    size.appendChild(defaultOption);

                                    result.sub.forEach(item => {
                                        console.log(item.size);
                                        const optionSize = document.createElement('option');
                                        optionSize.value = item.size;
                                        optionSize.text = item.size + ' (' + item.prodPrice + ')';
                                        optionSize.dataset.subNo = item.subProdNo;
                                        optionSize.dataset.color = item.color;
                                        optionSize.dataset.size = item.size;
                                        optionSize.dataset.price = item.prodPrice;
                                        size.appendChild(optionSize);


                                    });
                                };
                            } catch (e) {

                            }


                            document.addEventListener('change', function (e) {
                                if (e.target.matches('.size')) {
                                    const plus = document.getElementById('plus');
                                    const targetDiv = document.getElementById('option-container');
                                    const newPlus = plus.cloneNode(true);
                                    newPlus.style.removeProperty('display');
                                    const select = e.target.selectedOptions[0];
                                    newPlus.querySelector('#optionNo').value = select.dataset.subNo;
                                    newPlus.querySelector('#optionColor').value = select.dataset.color;
                                    newPlus.querySelector('#optionSize').value = select.dataset.size;
                                    newPlus.querySelector('#optionPrice').value = select.dataset.price;
                                    targetDiv.appendChild(newPlus);
                                    totalPrice.innerText = parseInt(totalPrice.innerText) + parseInt(select.dataset.price * (100 - prodDiscount) * 0.01);

                                }
                            });

                            unlike.onclick = async function (e) {
                                e.preventDefault();
                                try {
                                    const userID = document.getElementById('userId').value;
                                    const result = await fetchGet('/lotteshop/product/like?prodNo=' + [[${product.prodNo}]] + '&userId=' + userID);
                                    console.log(result.data + "!");
                                    if (result.data == 1) {
                                        like.style.display = '';
                                        unlike.style.display = 'none';
                                    } else {
                                        like.style.display = 'none';
                                        unlike.style.display = '';
                                    }

                                } catch (e) {
                                    console.log(e.message);
                                    alert('로그인 후 이용해주세요')
                                }

                            }

                            like.onclick = async function (e) {
                                e.preventDefault();
                                const userID = document.getElementById('userId').value;
                                const result = await fetchGet('/lotteshop/product/like?prodNo=' + [[${product.prodNo}]] + '&userId=' + userID);
                                console.log(result.data + "!");
                                if (result.data == 1) {
                                    like.style.display = '';
                                    unlike.style.display = 'none';
                                } else {
                                    like.style.display = 'none';
                                    unlike.style.display = '';
                                }

                            }


                            const productPriceForNo = [[${product.prodPrice}]];
                            const productDiscountForNo = [[${product.prodDiscount}]];
                            var priceForMe = parseInt(parseInt(productPriceForNo) * (100 - productDiscountForNo) * 0.01);
                            document.addEventListener('click', async function (event) {
                                if (event.target.matches('.plus')) {
                                    const element = event.target.parentNode.querySelector('input[type="number"]');
                                    const optionPrice = event.target.parentNode.querySelector('#optionPrice');
                                    try {
                                        totalPrice.innerText = parseInt(totalPrice.innerText) + parseInt(optionPrice.value * (100 - prodDiscount) * 0.01);
                                    } catch (e) {
                                        totalPrice.innerText = parseInt(totalPrice.innerText) + parseInt(priceForMe);
                                    }
                                    element.stepUp();
                                }
                                if (event.target.matches('.minus')) {
                                    const element = event.target.parentNode.querySelector('input[type="number"]');
                                    const optionPrice = event.target.parentNode.querySelector('#optionPrice');
                                    if (element.value > 1) {
                                        try {
                                            totalPrice.innerText = parseInt(totalPrice.innerText) - parseInt(optionPrice.value * (100 - prodDiscount) * 0.01);
                                        } catch (e) {
                                            totalPrice.innerText = parseInt(totalPrice.innerText) - parseInt(priceForMe);
                                        }
                                    }

                                    element.stepDown();
                                }

                                if (event.target.matches('.delete')) {
                                    const element = event.target.parentNode;
                                    const optionPrice = event.target.parentNode.querySelector('#optionPrice');
                                    const optionCount = event.target.parentNode.querySelector('#optionCount');
                                    totalPrice.innerText = parseInt(totalPrice.innerText) - parseInt(optionPrice.value * (100 - prodDiscount) * 0.01 * optionCount.value);

                                    element.remove();
                                }

                                if (event.target.matches('#cartSub')) {
                                    try {
                                        const userID = document.getElementById('userId').value;
                                        const quantityContainers = document.querySelectorAll('.quantity-container');
                                        const itemsCounts = [];
                                        const itemsNos = [];
                                        const itemsPrice = []
                                        const itemsDiscount = [];

                                        quantityContainers.forEach(container => {
                                            if (container.querySelector('#optionNo').value == "") {

                                            } else {
                                                itemsCounts.push(parseInt(container.querySelector('#optionCount').value));
                                                itemsNos.push(parseInt(container.querySelector('#optionNo').value));

                                            }

                                        });
                                        if (itemsCounts.length < 1) {
                                            alert('상품을 선택해주세요');
                                        } else {
                                            const json = {itemsCounts: itemsCounts, itemsNos: itemsNos, userId: userID};
                                            console.log(json);
                                            const result = await fetchPost('/lotteshop/product/view', json);
                                            if (result.result === 'success') {
                                                alert('장바구니로 상품이 담겼습니다.')
                                                //추후에 장바구니 이동 추가
                                            }
                                        }
                                    } catch (e) {
                                        console.log(e.toString())
                                        alert('로그인 후 이용해주세요');
                                    }
                                }


                                if (event.target.matches('#cartBuy')) {
                                    try {
                                        const userID = document.getElementById('userId').value;
                                        const quantityContainers = document.querySelectorAll('.quantity-container');
                                        const itemsCounts = [];
                                        const itemsNos = [];

                                        quantityContainers.forEach(container => {
                                            if (container.querySelector('#optionNo').value == "") {

                                            } else {
                                                itemsCounts.push(parseInt(container.querySelector('#optionCount').value));
                                                itemsNos.push(parseInt(container.querySelector('#optionNo').value));
                                            }

                                        });
                                        if (itemsCounts.length < 1) {
                                            alert('상품을 선택해주세요');
                                        } else {
                                            const json = {itemsCounts: itemsCounts, itemsNos: itemsNos, userId: userID};
                                            console.log(json);
                                            const result = await fetchPost('/lotteshop/product/order', json);
                                            window.location.href = '/lotteshop/product/order';
                                        }
                                    } catch (e) {
                                        console.log(e.toString())
                                        alert('로그인 후 이용해주세요');
                                    }
                                }

                                if (event.target.matches('#cartSub2')) {
                                    try {
                                        const userID = document.getElementById('userId').value;
                                        const quantityContainers = document.querySelectorAll('.quantity-container');
                                        const itemsCounts = [];
                                        const itemsNos = [];

                                        quantityContainers.forEach(container => {
                                            if (container.querySelector('#optionNo').value == "") {

                                            } else {
                                                itemsCounts.push(parseInt(container.querySelector('#optionCount').value));
                                                itemsNos.push(parseInt(container.querySelector('#optionNo').value));
                                            }

                                        });
                                        if (itemsCounts.length < 1) {
                                            alert('상품을 선택해주세요');
                                        } else {
                                            const json = {itemsCounts: itemsCounts, itemsNos: itemsNos, userId: userID};
                                            console.log(json);
                                            const result = await fetchPost('/lotteshop/product/view', json);
                                            if (result.result === 'success') {
                                                alert('장바구니로 상품이 담겼습니다.')
                                                //추후에 장바구니 이동 추가
                                            }
                                        }
                                    } catch (e) {
                                        console.log(e.toString())
                                        alert('로그인 후 이용해주세요');
                                    }
                                }

                                if (event.target.matches('#cartBuy2')) {
                                    try {
                                        const userID = document.getElementById('userId').value;
                                        const quantityContainers = document.querySelectorAll('.quantity-container');
                                        const itemsCounts = [];
                                        const itemsNos = [];

                                        quantityContainers.forEach(container => {
                                            if (container.querySelector('#optionNo').value == "") {

                                            } else {
                                                itemsCounts.push(parseInt(container.querySelector('#optionCount').value));
                                                itemsNos.push(parseInt(container.querySelector('#optionNo').value));
                                            }

                                        });
                                        if (itemsCounts.length < 1) {
                                            alert('상품을 선택해주세요');
                                        } else {
                                            const json = {itemsCounts: itemsCounts, itemsNos: itemsNos, userId: userID};
                                            console.log(json);
                                            const result = await fetchPost('/lotteshop/product/order', json);
                                            window.location.href = '/lotteshop/product/order';
                                        }
                                    } catch (e) {
                                        console.log(e.toString())
                                        alert('로그인 후 이용해주세요');
                                    }
                                }

                            });

                        }
                    </script>
                    <th:block th:if="${#authentication.principal != 'anonymousUser'}">
                        <input type="hidden" id="userId" th:value="${#authentication.principal.user.uid}">
                    </th:block>

                    <div class="quantity-container" id="plus" style="display: none">
                        <button class="minus">-</button>
                        <input type="number" id="optionCount" min="1" value="1">
                        <button class="plus">+</button>
                        <input type="text" id="optionColor" readonly value="">
                        <input type="text" id="optionSize" readonly value="">
                        <input type="text" id="optionPrice" readonly value="">
                        <input type="hidden" id="optionNo" readonly value="">
                        <button class="delete">삭제</button>
                    </div>
                    <th:block th:if="${options.size()>1}">
                        <nav id="choiceBox">
                            <label for="color" style="font-size: medium"></label>
                            <select id="color" name="color">
                                <option style="font-size: x-large" value="" disabled selected>::(필수)옵션 색상 선택</option>
                                <th:block th:each="option : ${options}">
                                    <option th:value="${option.color}" th:text="${option.color}"
                                            style="font-size: x-large"></option>
                                </th:block>
                            </select>
                            <br>
                            <br>
                            <label for="size" style="font-size: medium"></label>
                            <select id="size" name="size" class="size">
                                <option style="font-size: x-large" value="" disabled selected>::(필수)옵션 사이즈 선택</option>
                            </select>
                        </nav>
                        <img th:src="@{/images/vip_plcc_banner.png}" alt="100원만 결제해도 1만원 적립!" class="banner"/>


                        <div class="option-container" id="option-container">

                        </div>
                        <div class="button">
                            <input type="button" class="cart" id="cartSub" value="장바구니"/>
                            <input type="button" class="order" id="cartBuy" value="구매하기"/>
                        </div>
                        <div class="total">
                        <span id="total_price"
                              th:text="${0}"></span>
                            <em>총 상품금액</em>
                        </div>
                    </th:block>

                    <th:block th:if="${options.size()==1}" th:each="option , index:${options}">

                        <img th:src="@{/images/vip_plcc_banner.png}" alt="100원만 결제해도 1만원 적립!" class="banner"/>
                        <div class="option-container" id="option-container">
                            <div class="quantity-container" id="plus">
                                <button class="minus">-</button>
                                <input type="number" id="optionCount" min="1" value="1">
                                <button class="plus">+</button>
                                <input type="hidden" id="optionNo" readonly th:value="${option.subProdNo}">
                                <input type="text" th:value="${product.getProdName()}">
                            </div>
                        </div>
                        <div class="button">
                            <input type="button" class="cart" id="cartSub2" value="장바구니"/>
                            <input type="button" class="order" id="cartBuy2" value="구매하기"/>
                        </div>
                        <div class="total">
                        <span id="total_price"
                              th:text="${#numbers.formatDecimal( product.prodPrice * (100 - product.getProdDiscount()) * 0.01 , 1, 0)}"></span>
                            <em>총 상품금액</em>
                        </div>
                    </th:block>

                </div>
            </article>

            <!-- 상품 정보 내용 -->
            <article class="detail">
                <nav>
                    <a href="#" style="font-size: xx-large">상세정보</a>&nbsp;&nbsp;
                    <a class="moveReview" href="#" style="font-size: xx-large">리뷰</a>&nbsp;&nbsp;
                </nav>
                <!-- 상품상세페이지 이미지 -->
                <img th:src="@{/uploads/__${product.image4}__}" th:alt="${product.prodName}" alt="상세페이지1">
            </article>

            <!-- 상품 정보 제공 고시 내용 -->
            <article class="notice">
                <nav>
                    <h1>상품 정보 제공 고시</h1>
                    <p>[전자상거래에 관한 상품정보 제공에 관한 고시] 항목에 의거 등록된 정보입니다.</p>
                </nav>
                <table border="0">
                    <tr>
                        <td>상품번호</td>
                        <td>10110125435</td>
                    </tr>
                    <tr>
                        <td>상품상태</td>
                        <td>새상품</td>
                    </tr>
                    <tr>
                        <td>부가세 면세여부</td>
                        <td>과세상품</td>
                    </tr>
                    <tr>
                        <td>영수증발행</td>
                        <td>발행가능 - 신용카드 전표, 온라인 현금영수증</td>
                    </tr>
                    <tr>
                        <td>사업자구분</td>
                        <td>사업자 판매자</td>
                    </tr>
                    <tr>
                        <td>브랜드</td>
                        <td>블루포스</td>
                    </tr>
                    <tr>
                        <td>원산지</td>
                        <td>국내생산</td>
                    </tr>
                </table>
                <table border="0">
                    <tr>
                        <td>제품소재</td>
                        <td>상세정보 직접입력</td>
                    </tr>
                    <tr>
                        <td>색상</td>
                        <td>상세정보 직접입력</td>
                    </tr>
                    <tr>
                        <td>치수</td>
                        <td>상세정보 직접입력</td>
                    </tr>
                    <tr>
                        <td>제조자/수입국</td>
                        <td>상세정보 직접입력</td>
                    </tr>
                    <tr>
                        <td>제조국</td>
                        <td>상세정보 직접입력</td>
                    </tr>
                    <tr>
                        <td>취급시 주의사항</td>
                        <td>상세정보 직접입력</td>
                    </tr>
                    <tr>
                        <td>제조연월</td>
                        <td>상세정보 직접입력</td>
                    </tr>
                    <tr>
                        <td>품질보증기준</td>
                        <td>상세정보 직접입력</td>
                    </tr>
                    <tr>
                        <td>A/S 책임자와 전화번호</td>
                        <td>상세정보 직접입력</td>
                    </tr>
                    <tr>
                        <td>주문후 예상 배송기간</td>
                        <td>상세정보 직접입력</td>
                    </tr>
                    <tr>
                        <td colspan="2">구매, 교환, 반품, 배송, 설치 등과 관련하여 추가비용, 제한조건 등의 특이사항이 있는 경우</td>
                    </tr>
                </table>
                <p class="notice">
                    소비자가 전자상거래등에서 소비자 보호에 관한 법률 제 17조 제1항 또는 제3항에 따라 청약철회를 하고
                    동법 제 18조 제1항 에 따라 청약철회한 물품을 판매자에게 반환하였음에도 불구 하고 결제 대금의
                    환급이 3영업일을 넘게 지연된 경우, 소비자 는 전자상거래등에서 소비자보호에 관한 법률 제18조
                    제2항 및 동법 시행령 제21조 2에 따라 지연일수에 대하여 전상법 시행령으로 정하는 이율을 곱하여
                    산정한 지연이자(“지연배상금”)를 신청할 수 있습니다. 아울러, 교환∙반품∙보증 및 결제대금의
                    환급신청은 [나의쇼핑정보]에서 하실 수 있으며, 자세한 문의는 개별 판매자에게 연락하여 주시기 바랍니다.
                </p>
            </article>

            <!-- 상품 리뷰 내용 -->
            <div class="prodReviewBox">
                <div class="prodReviewHeader">
                    <div>
                        <p class="head" style="font-size: xx-large">상품 리뷰
                        </p>
                        <br>

                        <th:block th:if="${reviewPage.dtoList.size()}>0">
                            <h3>평균</h3>
                            <img th:if="${reviewRatioDTO.r_avg} == 1 " th:src="@{/review/review_star1.png}"
                                 alt="oneStar"
                                 style="max-width: 80px; height: auto;">
                            <img th:if="${reviewRatioDTO.r_avg} == 2 " th:src="@{/review/review_star2.png}"
                                 alt="oneStar"
                                 style="max-width: 80px; height: auto;">
                            <img th:if="${reviewRatioDTO.r_avg} == 3 " th:src="@{/review/review_star3.png}"
                                 alt="oneStar"
                                 style="max-width: 80px; height: auto;">
                            <img th:if="${reviewRatioDTO.r_avg} == 4 " th:src="@{/review/review_star4.png}"
                                 alt="oneStar"
                                 style="max-width: 80px; height: auto;">
                            <img th:if="${reviewRatioDTO.r_avg} == 5 " th:src="@{/review/review_star5.png}"
                                 alt="oneStar"
                                 style="max-width: 80px; height: auto;">
                            <h1 th:text="${#numbers.formatDecimal(reviewRatioDTO.avg, 0, 'POINT', 1, 'POINT')}+'/5'">
                                점</h1>
                        </th:block>
                        <div>
                            <p>
                                전체 리뷰수<br>
                                <span th:text="${reviewPage.dtoList.size()}"></span>
                            </p>
                        </div>

                        <th:block th:if="${reviewPage.dtoList.size()}==0">
                            <span style="font-size: 15px">리뷰가 없습니다.</span>
                        </th:block>
                    </div>
                </div>

                <ul>
                    <li th:each="review, loop:${reviewPage.dtoList}">
                        <div class="prodReview">
                            <p><b>[[${review.uid}]]</b>
                                <img th:if="${review.score} == 1 " th:src="@{/review/review_star1.png}" alt="oneStar"
                                     style="max-width: 80px; height: auto;">
                                <img th:if="${review.score} == 2 " th:src="@{/review/review_star2.png}" alt="oneStar"
                                     style="max-width: 80px; height: auto;">
                                <img th:if="${review.score} == 3 " th:src="@{/review/review_star3.png}" alt="oneStar"
                                     style="max-width: 80px; height: auto;">
                                <img th:if="${review.score} == 4 " th:src="@{/review/review_star4.png}" alt="oneStar"
                                     style="max-width: 80px; height: auto;">
                                <img th:if="${review.score} == 5 " th:src="@{/review/review_star5.png}" alt="oneStar"
                                     style="max-width: 80px; height: auto;">
                                <span th:text="${#temporals.format(review.rdate,'yyyy-MM-dd')}">24.03.22</span></p>
                            <div>
                                <img th:if="${review.thumbnail} != null" th:src="@{/uploads/__${review.thumbnail}__}"
                                     th:alt="${review.rno}" style="width: 120px; height: 120px ">
                                <img th:if="${review.thumbnail} == null" th:src="@{/newimage/noReview.png}"
                                     th:alt="${review.rno}" style="width: 120px; height: 120px ">
                                <p>[[${review.comment}]]</p>
                            </div>
                        </div>
                    </li>
                </ul>

                <!--페이지 네이션-->
                <div class="page" style="text-align: center">
                    <ul>
                        <li th:if="${reviewPage.prev}">
                            <a class="pagination-link"
                               th:href="@{/product/view(prodno=${product.prodNo}, pg=${reviewPage.start - 1})}">이전</a>
                        </li>
                        <li th:each="n : ${#numbers.sequence(reviewPage.start, reviewPage.end)}">
                            <a class="pagination-link" th:href="@{/product/view(prodno=${product.prodNo}, pg=${n})}"
                               th:text="${n}"></a>
                        </li>
                        <li th:if="${reviewPage.next}">
                            <a class="pagination-link"
                               th:href="@{/product/view(prodno=${product.prodNo}, pg=${reviewPage.end + 1})}">다음</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div style="border: 1px solid #c9c9c9;" class="container">
                <h2>문의 내용</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>내용</th>
                        <th>작성 시간</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td style="font-size: 42px">여기서 문의 내용을 입력하세요.</td>
                        <td>2024-04-21 19:18:51</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td style="font-size: 42px">여기서 문의 내용을 입력하세요.</td>
                        <td>2024-04-21 19:18:51</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td style="font-size: 42px">여기서 문의 내용을 입력하세요.</td>
                        <td>2024-04-21 19:18:51</td>
                    </tr>
                    <!-- 여기에 나머지 문의 내용 추가 -->
                    </tbody>
                </table>
            </div>
            <div>
                <div>
                    <div>
                        <strong>Q&A</strong>
                        <span>(943)</span>
                    </div>
                </div>
                <div>
                    <p>"답변은"
                        <strong>마이롯데 > 나의 문의 내역</strong>
                        "에서 확인하실 수 있습니다."
                    </p>
                    <button>문의하기</button>
                </div>
                <ul>
                    <li>
                        <div>
                            <span>상품정보</span>
                            <span>::before
                                "옵션":061 포피 코랄
                                </span>
                            <div>
                                <button>
                                    <span>메뉴더보기</span>
                                </button>
                            </div>
                        </div>
                        <div>
                            <p>
                                <span>비밀글입니다</span>
                                <span>비밀글답변입니다</span>
                            </p>
                        </div>
                        <div></div>
                        <div></div>
                    </li>
                </ul>
            </div>


        </section>
        <!-- 상품 상세페이지 끝 -->
    </main>
</div>
</html>