<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout/adminLayout.html}">


            <section id="admin-index" layout:fragment="content">
                <nav>
                    <h3>관리자 메인</h3>
                    <p>
                        HOME > <strong>메인</strong>
                    </p>
                </nav>

                <h4>쇼핑몰 운영현황</h4>
                <article>
                    <table>	
                        <tr>
                            <td>
                                <strong>주문건수(건)</strong>
                                <span>[[${count}]]</span>
                            </td>
                            <td>
                                <strong>주문금액(원)</strong>
                                <span>[[${#numbers.formatInteger(total,1,'COMMA')}]]</span>
                            </td>
                            <td>
                                <strong>회원가입(명)</strong>
                                <span>[[${user}]]</span>
                            </td>
                            <td>
                                <strong>쇼핑몰 일일 방문(명)</strong>
                                <span>[[${visitor}]]</span>
                            </td>
                            <td>
                                <strong>Q&A(건)</strong>
                                <span th:text="${session.adminArticle}"></span>
                            </td>
                        </tr>
                    </table>
                </article>

                <h4>주문 업무현황</h4>
                <article>
                    <table>
                        <tr>
                            <td>
                                <strong>주문대기(건)</strong>
                                <span>[[${ready}]]</span>
                            </td>
                            <td>
                                <strong>배송준비(건)</strong>
                                <span>[[${delivery}]]</span>
                            </td>
                            <td>
                                <strong>주문취소(건)</strong>
                                <span>[[${delete}]]</span>
                            </td>
                            <td>
                                <strong>환불(건)</strong>
                                <span>[[${allDelete}]]</span>
                            </td>
                        </tr>
                    </table>                    
                </article>

                <div id="admin-index-div">
                    <div>
                        <a style="font-size: 15px; font-weight: bold " th:href="@{/admin/cs/notice/list}">공지사항</a>
                        <article class="admin-index-list">
                            <ul>
                                <li style="font-size: 20px;" th:each="notices, index : ${csNotice}" th:if="${index.index} &lt; 5">
                                    <a th:href="@{/cs/notice/view(no=${notices.no})}" class="title" th:if="${notices.cate1 == 'safe'}" th:text="'[안전거래]' + ' ' + ${notices.title}"></a>
                                    <a th:href="@{/cs/notice/view(no=${notices.no})}" class="title" th:if="${notices.cate1 == 'event'}" th:text="'[이벤트]' + ' ' + ${notices.title}"></a>
                                    <a th:href="@{/cs/notice/view(no=${notices.no})}" class="title" th:if="${notices.cate1 == 'danger'}" th:text="'[위해상품]' + ' ' + ${notices.title}"></a>
                                    <a th:href="@{/cs/notice/view(no=${notices.no})}" class="title" th:if="${notices.cate1 == 'customer'}" th:text="'[고객서비스]' + ' ' + ${notices.title}"></a>
                                    <span style="float: right" class="date" th:text="${#temporals.format(notices.rdate, 'yyyy-MM-dd')}"></span>
                                </li>
                            </ul>
                        </article>
                    </div>

                    <div>
                        <a style="font-size: 15px; font-weight: bold " th:href="@{/admin/cs/qna/list}">고객문의</a>
                        <article class="admin-index-list">
                            <ul>
                                <li style="font-size: 20px; color: #343434;" th:each="qnas, index : ${csQna}" th:if="${index.index} &lt; 5">
                                    <a th:href="@{/cs/qna/view(no=${qnas.no})}" class="title" th:if="${qnas.cate1 == 'user'}" th:text="'[회원]' + ' ' + ${qnas.title}"></a>
                                    <a th:href="@{/cs/qna/view(no=${qnas.no})}" class="title" th:if="${qnas.cate1 == 'event'}" th:text="'[이벤트/쿠폰]' + ' ' + ${qnas.title}"></a>
                                    <a th:href="@{/cs/qna/view(no=${qnas.no})}" class="title" th:if="${qnas.cate1 == 'order'}" th:text="'[주문/결제]' + ' ' + ${qnas.title}"></a>
                                    <a th:href="@{/cs/qna/view(no=${qnas.no})}" class="title" th:if="${qnas.cate1 == 'delivery'}" th:text="'[배송]' + ' ' + ${qnas.title}"></a>
                                    <a th:href="@{/cs/qna/view(no=${qnas.no})}" class="title" th:if="${qnas.cate1 == 'cancel'}" th:text="'[취소/반품/교환]' + ' ' + ${qnas.title}"></a>
                                    <a th:href="@{/cs/qna/view(no=${qnas.no})}" class="title" th:if="${qnas.cate1 == 'receipt'}" th:text="'[거래증빙서류]' + ' ' + ${qnas.title}"></a>
                                    <span style="float: right" class="date" th:text="${#temporals.format(qnas.rdate, 'yyyy-MM-dd')}"></span>
                                </li>
                            </ul>
                        </article>
                    </div>
                </div>
            </section>
</html>