<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout/adminLayout.html}">
            <section id="admin-index" layout:fragment="content">
                <nav>
                    <h3>스토어 메인</h3>
                    <p>
                        HOME > <strong>메인</strong>
                    </p>
                </nav>

                <h4>쇼핑몰 운영현황</h4>
                <article>
                    <table>	
                        <tr>
                            <td>
                                <strong>주문건수(건)</strong>
                                <span>[[${count}]]</span>
                            </td>
                            <td>
                                <strong>주문금액(원)</strong>
                                <span>[[${#numbers.formatInteger(total,1,'COMMA')}]]</span>
                            </td>
                            <td>
                                <strong>회원가입(명)</strong>
                                <span>[[${user}]]</span>
                            </td>
                            <td>
                                <strong>쇼핑몰 일일 방문(명)</strong>
                                <span>[[${visitor}]]</span>
                            </td>
                            <td>
                                <strong>Q&A(건)</strong>
                                <span>[[${totalArticle}]]</span>

                            </td>
                        </tr>
                    </table>
                </article>

                <h4>주문 업무현황</h4>
                <article>
                    <table>
                        <tr>
                            <td>
                                <strong>주문대기(건)</strong>
                                <span>[[${ready}]]</span>
                            </td>
                            <td>
                                <strong>배송준비(건)</strong>
                                <span>[[${delivery}]]</span>
                            </td>
                            <td>
                                <strong>주문취소(건)</strong>
                                <span>[[${delete}]]</span>
                            </td>
                            <td>
                                <strong>환불(건)</strong>
                                <span>[[${allDelete}]]</span>
                            </td>
                        </tr>
                    </table>
                </article>

                <div>


                    <div>
                        <h4>고객문의</h4>
                        <article>
                            <ul>
                                <li style="font-size: 20px; color: #343434;" th:each="prodQna, index : ${prodQna}" th:if="${index.index} &lt; 5">
                                    <a th:text="${prodQna.content}"></a>
                                    <span style="float: right" class="date" th:text="${#strings.substring(prodQna.rdate,0,10)}"></span>
                                </li>
                            </ul>
                        </article>
                    </div>
                </div>
            </section>
</html>
