<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout/adminLayout.html}">

<section id="admin-cs-faq" layout:fragment="content">
    <nav>
        <h3>고객센터</h3>
        <p>
            HOME > 고객센터 > <strong>FAQ 관리</strong>
        </p>
    </nav>

    <section>
        <div>
            <select name="search">
                <option value="search1">전체</option>
                <option value="search2">제목</option>
                <option value="search3">내용</option>
                <option value="search3">유형</option>
                <option value="search4">제목+내용</option>
            </select>
            <input type="text" name="search">

            <span ></span>
            <table border="0">
                <tr>
                    <th><input type="checkbox"></th>
                    <th>번호</th>
                    <th>유형</th>
                    <th>제목</th>
                    <th>내용</th>
                    <th>관리</th>
                </tr>
                <tr th:each="faq: ${csFaqs}">
                    <td><input type="checkbox"></td>
                    <td>[[${faq.no}]]</td>
                    <td>[[${faq.cate}]]</td>
                    <td>[[${faq.title}]]</td>
                    <td th:text="${#strings.substring(faq.content, 0, 20)}"></td>
                    <td>
                        <a>수정</a>
                        <a>삭제</a>
                    </td>
                </tr>
            </table>
            <div>
                <input type="button" value="선택삭제" id="selectDelete" style="float: left; margin-right: 10px;"/>
            </div>
            <div>
                <input  type="button" value="공지작성" id="#" style="float: right; "/>
            </div>
            <div class="paging">
                    <span class="prev" th:if="${csFaqs.hasPrevious()}">
                        <a class="#" th:href="@{${pageURL}(page=${csFaqs.previousPageable().pageNumber})}">&laquo; 이전</a>
                    </span>
                <span class="num" th:each="page : ${#numbers.sequence(csFaqs.number - 4, csFaqs.number + 5)}" th:if="${page >= 0 && page < csFaqs.totalPages}">
        <a class="#" th:href="@{${pageURL}(page=${page})}" th:text="${page + 1}" th:classappend="${page eq csFaqs.number ? 'on' : ''}"></a>
    </span>
                    <span class="next" th:if="${csFaqs.hasNext()}">
                        <a class="#" th:href="@{${pageURL}(page=${csFaqs.nextPageable().pageNumber})}">다음 &raquo;</a>
                    </span>
            </div>
            <div>
                <p>현재 페이지: [[${csFaqs.number + 1}]] / 전체 페이지 수 : [[${csFaqs.totalPages}]]</p>
            </div>
        </div>
    </section>
</section>
</html>