<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/my/layout/myLayout.html}">

            <div class="home" layout:fragment="content">

                <script>
                    window.onload = function () {

                        //주문취소
                        const deletes = document.querySelectorAll('#delete');

                        deletes.forEach(function (item) {
                            item.onclick = async function () {
                                const result = await fetchGet('/lotteshop/product/checkOrder?itemNo=' + item.getAttribute('data-itemNo'));
                                if (result.data == "1") {
                                    if (confirm('포인트를 사용한 경우 부분 취소가 아닌, 전체 취소만 가능합니다. 그렇게 하시겠습니까?')) {
                                        const result2 = await fetchGet('/lotteshop/product/orderDelete?itemNo=' + item.getAttribute('data-itemNo'));
                                        if (result2.data == 1) {
                                            alert("취소가 완료되었습니다. (배송비 3000원 결제 완료)");
                                        } else {
                                            alert("취소가 완료되었습니다.")
                                        }
                                    }
                                } else {
                                    if (confirm('정말 취소하시겠습니까?')) {
                                        const result2 = await fetchGet('/lotteshop/product/orderDelete?itemNo=' + item.getAttribute('data-itemNo'));
                                        if (result2.data == 1) {
                                            alert("취소가 완료되었습니다. (배송비 3000원 결제 완료)");
                                        } else {
                                            alert("취소가 완료되었습니다.")
                                        }
                                    }
                                }
                            }
                        });


                        /*주문 상세 창 띄우기*/
                        const detailOrders = document.querySelectorAll('.detailOrder');
                        const popOrder = document.querySelectorAll('#popOrder');

                        detailOrders.forEach(function (item, index) {
                            item.onclick = function () {
                                popOrder[index].classList.add('on');
                            }
                        })

                        /*리뷰 창 띄우기 시작*/
                        document.querySelectorAll('.review').forEach(function (link) {
                            link.addEventListener('click', async function (event) {
                                const prodno = link.getAttribute("data-prodno");
                                const uid = link.getAttribute("data-uid");
                                const prodname = link.getAttribute("data-prodname");
                                const orderno = link.getAttribute("data-orderno");
                                const itemno = link.getAttribute("data-itemno");

                                console.log(prodno); // prodno 값 확인
                                console.log(uid);
                                console.log(prodname);
                                console.log(itemno);

                                //옵션내용을 불러오기
                                const prod = await fetchGet(`/lotteshop/review/${itemno}`);

                                const option = prod.option;

                                console.log("option값 찍어보기 : "+option);



                                //똑같은 주문번호가 있는지 확인 후, 없으면 리뷰쓰기
                                const data = await fetchGet(`/lotteshop/review/${orderno}/${prodno}/${itemno}`);

                                console.log("같은 주문번호가 몇개 있는지 가져옴 : " + data.count);


                                if (data.count >= 1) {
                                    alert('이미 리뷰를 작성하셨습니다.');
                                } else {

                                    // 필요한 동작을 수행합니다. 여기서는 팝업창을 없애는 코드를 추가합니다.
                                    popOrder.forEach(function (pop) {
                                        pop.classList.remove('on');
                                    });

                                    event.preventDefault();
                                    openModal(uid, prodno, prodname, orderno,itemno,option);
                                }

                            });

                        });


                        // 사용자가 모달 바깥을 클릭하면 모달이 닫히도록 설정
                        window.onclick = function (event) {
                            var modal = document.getElementById('reviewModal');
                            var close = document.getElementById('close_btn');

                            if (event.target === modal || event.target === close) {
                                closeModal();
                            }
                        }


                        //모달 띄우기
                        function openModal(uid, prodno, prodname, orderno,itemno,option) {
                            document.getElementById('reviewModal').style.display = 'block';
                            setModalContent(uid, prodno, prodname, orderno,itemno,option);
                        }

                        // 모달 닫기
                        function closeModal() {
                            document.getElementById('reviewModal').style.display = 'none';
                        }

                        // 모달 창이 열릴 때 사용자에게 보여줄 정보 설정
                        function setModalContent(uid, prodno, prodname, orderno,itemno,option) {
                            document.getElementById('uid').value = uid;
                            document.getElementById('prodno').value = prodno;
                            document.getElementById('prodname').value = prodname;
                            document.getElementById('orderno').value = orderno;
                            document.getElementById('itemno').value = itemno;
                            document.getElementById('reviewTitle').value = prodname+"_"+option;
                        }

                        async function fetchGet(url) {

                            console.log("fetchData1...1");

                            try {
                                console.log("fetchData1...2");
                                const response = await fetch(url);
                                console.log("here1");

                                if (!response.ok) {
                                    console.log("here2");
                                    throw new Error('response not ok');
                                }

                                const data = await response.json();
                                console.log("data1 : " + data);
                                return data;
                            } catch (err) {
                                console.log(err)
                            }
                        }


                        //리뷰에 별 색상 스타일
                        const stars = document.querySelectorAll('.star');
                        const ratingInput = document.getElementById('rating');

                        stars.forEach(function (star) {
                            star.addEventListener('click', function () {
                                const ratingValue = parseInt(star.getAttribute('data-rating'));
                                ratingInput.value = ratingValue;
                                stars.forEach(function (s, index) {
                                    if (index < ratingValue) {
                                        s.classList.add('active');
                                    } else {
                                        s.classList.remove('active');
                                    }
                                });
                            });
                        });

                        //배너 조회수 올리기
                        const Banner = document.getElementsByClassName('Banner')[0];

                        Banner.onclick = function (e){

                            e.preventDefault();

                            const bannerNo = Banner.getAttribute('data-bannerNo');
                            const link = Banner.getAttribute('data-link');

                            console.log('bannerNo :' + bannerNo);

                            const jsonData = {
                                "bannerNo": bannerNo
                            }

                            fetch("/lotteshop/main/banner/index", {
                                method: 'POST',
                                headers: {'Content-Type': 'application/json'},
                                body: JSON.stringify(jsonData)
                            })
                                .then(response => {
                                    if (!response.ok) {
                                        throw new Error('데이터 전송에 실패!');
                                    } else {
                                        window.location.href = link;
                                    }
                                    return response.json();
                                })
                                .then(data => {
                                    console.log(data);
                                })
                                .catch(err => console.log(err))
                        }

                        // 문의하기 출력

                            $(document).ready(function() {
                            $('#btnQna').click(function() {
                                var group = 'qna'; // 1:1 문의
                                updateQnaGroup(group);
                            });

                            $('#btnProductQna').click(function() {
                            var group = 'product'; // 상품 문의
                            updateQnaGroup(group);
                        });

                            function updateQnaGroup(group) {
                            $.ajax({
                            type: 'GET',
                            url: '/my/home?group=' + group,
                            success: function(data) {
                            // 성공적으로 응답을 받았을 때 실행할 코드
                            $('#qnaSection').html(data); // 응답을 해당 섹션에 업데이트
                        },
                            error: function() {
                            // 오류 발생 시 실행할 코드
                            console.log('Error occurred while updating Q&A group.');
                        }
                        });
                        }
                        });
                    }
                </script>

                <style>

                    /* 모달 시작! */
                    .modal {
                        display: none;
                        position: fixed;
                        z-index: 1000;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        overflow: auto;
                        background-color: rgba(0, 0, 0, 0.5);
                    }

                    .modal-content {
                        background-color: #fff;
                        margin: 15% auto;
                        padding: 30px;
                        border-radius: 10px;
                        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                        width: 80%;
                        max-width: 600px;
                        position: relative;
                    }

                    h3 {
                        font-size: 24px;
                        font-weight: bold;
                        color: #333;
                        margin-bottom: 20px;
                        text-align: center;
                    }

                    form {
                        margin-top: 20px;
                    }

                    .form-group {
                        margin-bottom: 20px;
                    }

                    label {
                        font-size: 18px;
                        color: #333;
                        font-weight: bold;
                        margin-bottom: 5px;
                        display: block;
                    }

                    input[type="text"],
                    input[type="number"],
                    textarea {
                        width: 100%;
                        padding: 10px;
                        font-size: 16px;
                        border-radius: 5px;
                        border: 1px solid #ccc;
                    }

                    textarea {
                        resize: vertical;
                    }

                    button[type="submit"] {
                        background-color: #007bff;
                        color: #fff;
                        border: none;
                        padding: 10px 20px;
                        font-size: 18px;
                        border-radius: 5px;
                        cursor: pointer;
                    }

                    button[type="submit"]:hover {
                        background-color: #0056b3;
                    }

                    .close_btn {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        font-size: 24px;
                        color: #aaa;
                        cursor: pointer;
                        transition: color 0.3s;
                    }

                    .close_btn:hover {
                        color: #555;
                    }


                    .rating {
                        display: inline-block;
                        unicode-bidi: bidi-override;
                        direction: ltr;/*좌->우로 별 채우기 (반대는 rtl)*/
                    }

                    .star {
                        font-size: 25px;
                        cursor: pointer;
                        color: #ccc;
                    }

                    .star.active {
                        color: gold;
                    }
                    /*모달 끝!*/
                </style>

				<ul>
                    <span class="menu_else"></span>
                    <li><a th:href="@{/my/order}">전체주문내역</a></li>
                    <li><a th:href="@{/my/favorite}">관심상품</a></li>
                    <li><a th:href="@{/my/point}">포인트내역</a></li>
                    <li><a th:href="@{/my/coupon}">쿠폰</a></li>
                    <li ><a th:href="@{/my/review(uid=${#authentication.principal.username})}">나의리뷰</a></li>
                    <li><a th:href="@{/my/qna}">문의하기</a></li>
                    <li><a th:href="@{/my/info}">나의설정</a></li>
                </ul>

                <section>
                    <!--배너 시작-->
                    <th:block th:if="${banner5 != null and !banner5.isEmpty()}">
                        <th:block th:each="banner : ${banner5}">
                            <div id="bannerTop" class="on" th:style="'background-color:' + ${banner.color}">
                                <article>
                                    <a class="Banner" th:href="${banner.link}" th:if="${banner.status} == 1" th:data-bannerNo="${banner.bannerNo}"
                                       th:data-link="${banner.link}">
                                        <img class="bannerImg" th:src="@{/uploads/__${banner.img_810}__}"/>
                                    </a>
                                </article>
                            </div>
                        </th:block>
                    </th:block>

                    <th:block th:unless="${banner5 != null and !banner5.isEmpty()}"></th:block>
                    <!--배너 끝!--->


                    <article class="latest">
                        <h3>최근주문내역</h3>
                        <a th:href="@{/my/order}" class="more">더보기</a>
                        <table border="0">
                            <tr>
                                <th>날짜</th>
                                <th>주문정보</th>
                            </tr>
                            <th:block th:each="order , index :${orders}">
                                <tr>
                                    <td class="date">[[${#dates.format(order.orderDate, 'yyyy-MM-dd')}]]</td>
                                    <td>
                                        <a th:href="@{/product/view(prodno=${products[index.index][0].prodNo})}" class="thumb"><img
                                                style="width: 100px; height: 100px"
                                                th:src="@{/uploads/__${products[index.index][0].image1}__}" alt=""></a>
                                        <ul>
                                            <li class="prodName"><span th:href="@{#}" onclick="openPopup()">[[${products[index.index][0].prodName}]] 외 [ [[${orderItems[index.index].size() - 1}]] ]개</span>
                                            </li>
                                            주문번호 : <span class="ordNo">[[${order.orderNo}]]</span></li>
                                            <li class="prodPrice">[[${order.orderTotalPrice}]]</li>
                                            <li class="list-item">
                                                <input type="hidden" id="aec" th:value="${index.index}">
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </th:block>
                        </table>
                    </article>

                    <article class="point">
                        <h3>포인트내역</h3>
                        <a th:href="@{/my/point}" class="more">더보기</a>
                        <table border="0">
                            <tr>
                            <tr>
                                <th>날짜</th>
                                <th>구분</th>
                                <th>주문번호</th>
                                <th>적립(차감)내역</th>
                                <th>비고</th>
                            </tr>
                            <th:block th:each="point , index:${points}"  th:if="${index.index <3}">
                            <tr style="text-align: center">
                                <td >[[${#temporals.format(point.pointDate , 'yyyy-MM-dd')}]]</td>
                                <td>[[${point.state}]]</td>
                                <td th:if="${point.orderNo>=0}">[[${point.orderNo}]]</td>
                                <td th:if="${point.orderNo<0}"></td>
                                <td>[[${point.point}]]</td>
                                <td>[[${point.pointDesc}]]</td>
                            </tr>
                            </th:block>
                        </table>

                    </article>
                    <article class="review">
                        <h3>상품평</h3>
                        <a th:href="@{/my/review(uid=${#authentication.principal.username})}" class="more">더보기</a>
                        <table border="0">
                            <tr>
                                <th>번호</th>
                                <th>상품명</th>
                                <th>옵션</th>
                                <th>내용</th>
                                <th>평점</th>
                                <th>작성일</th>
                            </tr>
                            <tr th:each="review, iterStat : ${reviews}" th:if="${reviews.size()}>0">
                                <td th:text="${iterStat.count}">1</td><!--인덱스 가져와서 인덱스 번호찍기-->
                                <td th:text="${review.getProdname()}">상품명</td>
                                <td th:text="${review.getProdoption()}">옵션</td>
                                                                <td class="content"
                                    th:text="${#strings.length(review.getComment()) > 10 ? #strings.substring(review.getComment(), 0, 10) + '...' : review.getComment()} ">
                                    배송이 빠릅니다. 잘 사용하겠습니다.
                                </td>
                                <td class="score">
                                    <h5>
                                        <span th:each="starIndex : ${#numbers.sequence(1, review.getScore())}"
                                              style="padding-bottom: 10px">
                           <svg style="color: #ffd500" xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>
                        </span>
                                    </h5>
                                </td>
                                <td class="date" th:text="${#temporals.format(review.getRdate(),'yyyy-MM-dd')}">2024-12-12</td>
                            </tr>
                            <tr th:if="${reviews.size()==0}">
                                <td colspan="6" style="text-align: center">작성한 리뷰가 없습니다.</td>
                            </tr>
                        </table>
                    </article>

                    <article class="qna">
                        <h3>문의내역</h3>
                        <a th:href="@{/my/qna}" class="more">더보기</a>
                        <a th:if="${adminCsQna.getGruop() == 'qna'}" th:href="@{/my/home}"  style="border: 1px solid gray; font-size: 15px; padding: 2px; background-color: #ebe5de">1:1 문의하기</a>
                        <a th:if="${adminCsQna.getGruop() != 'qna'}" th:href="@{/my/home}"  style="border: 1px solid gray; font-size: 15px; padding: 2px">1:1 문의하기</a>
                        <a th:if="${adminCsQna.getGruop() == 'product'}" th:href="@{/my/home(group = product)}" style="border: 1px solid gray; font-size: 15px;  padding: 2px; background-color: #e9e3dc" >상품 문의</a>
                        <a th:if="${adminCsQna.getGruop() != 'product'}" th:href="@{/my/home(group = product)}" style="border: 1px solid gray; font-size: 15px;  padding: 2px">상품 문의</a>

                            <th:block th:if="${adminCsQna.getGruop() == 'product'}" >
                                <table border="0">
                                    <tr>
                                        <th>번호</th>
                                        <th>문의채널</th>
                                        <th>상품명</th>
                                        <th>제목</th>
                                        <th>작성일</th>
                                        <th>상태</th>
                                    </tr>

                                    <tr  th:each="prodQna, index : ${adminCsQna.dtoList4}" th:if="${index.index<3}">
                                        <td class="no" th:text="${prodQna.no}"></td>
                                        <td class="cate" th:text="${prodQna.cate}"></td>
                                        <td class="type" th:text="${prodQna.productName}"></td>
                                        <td class="tit" th:text="${prodQna.content}"></td>
                                        <td class="date" th:text="${#strings.substring(prodQna.rdate , 0,10)}"> </td>
                                        <td class="status">
                                            <th:block th:if="${prodQna.status1 == '답변 대기중'}">
                                                <p style="font-size: 16px; color: #0D3A46"  th:text="${prodQna.status1}"></p>
                                            </th:block>
                                            <th:block th:if="${prodQna.status1 != '답변 대기중'}">
                                                <p  style="font-size: 16px; color: #4CAF50 "  th:text="${prodQna.status1}"></p>
                                            </th:block>
                                        </td>
                                    </tr>
                                </table>
                            </th:block>
                            <th:block th:if="${adminCsQna.getGruop() != 'product'}">
                                <table border="0">
                                    <tr>
                                        <th>번호</th>
                                        <th>문의채널</th>
                                        <th>문의유형</th>
                                        <th>제목</th>
                                        <th>작성일</th>
                                        <th>상태</th>
                                    </tr>
                                    <tr  th:each="csQna, index : ${adminCsQna.dtoList3}"  th:if="${index.index<3}">
                                        <td class="no" th:text="${csQna.no}"></td>

                                        <td class="cate" th:text="${csQna.cate1}"></td>
                                        <td class="type" th:text="${csQna.cate2}"></td>
                                        <td class="tit" th:text="${csQna.title}"></td>
                                        <td class="date" th:text="${#strings.substring(csQna.rdate , 0,10)}"></td>

                                        <td class="status">
                                            <th:block th:if="${csQna.status == '답변 대기중'}">
                                                <p style="font-size: 16px; color: #0D3A46"  th:text="${csQna.status}"></p>
                                            </th:block>
                                            <th:block th:if="${csQna.status != '답변 대기중'}">
                                                <p  style="font-size: 16px; color: #4CAF50 "  th:text="${csQna.status}"></p>
                                            </th:block>
                                        </td>

                                    </tr>
                                </table>
                            </th:block>
                        </table>

                    </article>

                    <article class="myinfo">
                        <h3>확인해주세요!</h3>

                        <div>
                            <div class="address">
                                <span>기본 배송지설정</span>
                                <a th:href="@{#}" class="setting">변경</a>
                            </div>
                            <div class="email">
                                <span>email 설정</span>
                                <a th:href="@{#}" class="setting">변경</a>
                                <p>
                                    <span>abc123@gmail.com</span><br/>
                                    (최종수정일 <span>2021-12-10</span>)
                                </p>
                            </div>
                            <div class="hp">
                                <span>휴대폰 설정</span>
                                <a th:href="@{#}" class="setting">변경</a>
                                <p>
                                    <span>abc123@gmail.com</span><br/>
                                    (최종수정일 <span>2021-12-10</span>)
                                </p>
                            </div>
                        </div>
                    </article>

                    <!-- 리뷰 작성을 위한 모달 -->
                    <div id="reviewModal" class="modal">
                        <div class="modal-content">
                            <span id="close_btn" class="close_btn">&times;</span>
                            <h3>리뷰 작성</h3>
                            <form th:action="@{/my/order/write_review}" id="reviewForm" method="post" enctype="multipart/form-data">
                                <input type="hidden" id="prodno" name="prodno"/>
                                <input type="hidden" id="prodname" name="prodname"/>
                                <input type="hidden" id="uid" name="uid"/>
                                <div class="form-group">
                                    <label for="reviewTitle">제목:</label>
                                    <input type="text" id="reviewTitle" name="title" required>
                                </div>
                                <div class="form-group">
                                    <label for="reviewContent">내용:</label>
                                    <textarea id="reviewContent" name="comment" rows="5" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="reviewRating">평점:</label>
                                    <div class="rating" id="reviewRating">
                                        <span class="star" data-rating="1">&#9733;</span>
                                        <span class="star" data-rating="2">&#9733;</span>
                                        <span class="star" data-rating="3">&#9733;</span>
                                        <span class="star" data-rating="4">&#9733;</span>
                                        <span class="star" data-rating="5">&#9733;</span>
                                    </div>
                                    <input type="hidden" name="score" id="rating">
                                </div>
                                <div class="form-group">
                                    <label for="reviewImage">이미지 업로드:</label>
                                    <input type="file" id="reviewImage" name="multImage1">
                                </div>
                                <button class="btn_review" type="submit">리뷰 작성</button>
                            </form>
                        </div>
                    </div>
                    <!-- 리뷰 작성 모달 끝 -->

                    <th:block th:each="order , index :${orders}">
                        <div id="popOrder" class="popup">
                            <div>
                                <nav>
                                    <h1>주문상세</h1>
                                    <button class="btnClose">X</button>
                                </nav>
                                <section>
                                    <article class="order">
                                        <h3>주문정보</h3>
                                        <table border="0">
                                            <tr>
                                                <th>날짜</th>
                                                <th>상품정보</th>
                                                <th>결제금액</th>
                                                <th>상태</th>
                                                <th>확인/신청</th>
                                            </tr>
                                            <tr th:each="orderItem , orderindex :${orderItems[index.index]}">
                                                <td>
                                                    <p class="date">[[${#dates.format(order.orderDate, 'yyyy-MM-dd')}]]</p>
                                                    주문번호 : <span class="ordNo">[[${order.orderNo}]]</span>
                                                </td>
                                                <td>
                                                    <img style="width: 100px; height: 100px"
                                                         th:src="@{/uploads/__${products[index.index][orderindex.index].image1}__}"
                                                         alt="">
                                                    <ul>
                                                        <li class="company">상호명 수정</li>
                                                        <li class="prodName">
                                                            [[${products[index.index][orderindex.index].prodName}]]
                                                        </li>
                                                        <li>수량 : <span class="prodCount">[[${orderItem.itemCount}]]</span>개</li>
                                                        <li class="prodPrice">개당 : [[${orderItem.itemPrice}]]</li>
                                                    </ul>
                                                </td>
                                                <td class="payment">
                                                    <ol>
                                                        <li class="price">
                                                            <span>총 판매가</span>
                                                            <span>[[${orderItem.itemPrice * orderItem.itemCount}]]</span>
                                                        </li>
                                                        <li class="discount">
                                                            <span>상품할인 ( [[${orderItem.itemDiscount}]] %)</span>
                                                            <span>[[${#numbers.formatDecimal(orderItem.itemPrice * orderItem.itemDiscount *0.01 * orderItem.itemCount , 1, 0)}]]</span>
                                                        </li>
                                                        <li class="total">
                                                            <span>결제금액</span>
                                                            <span>[[${#numbers.formatDecimal(orderItem.itemPrice * (100 - orderItem.itemDiscount ) *0.01 * orderItem.itemCount , 1, 0)}]]</span>
                                                        </li>
                                                    </ol>
                                                </td>
                                                <td class="status">[[${orderItem.orderState}]]</td>

                                                <td th:if="${orderItem.orderState == '주문 취소' || orderItem.orderState == '환불'}">
                                                    <ol>
                                                        <li></li>

                                                    </ol>
                                                <td th:if="${orderItem.orderState != '주문 취소' && orderItem.orderState != '환불'}"
                                                    class="confirm" style="text-align: center">
                                                    <ol>
                                                        <li th:href="@{#}" class="receive">수취확인</li>
                                                        <li th:if="${orderItem.orderState == '구매확정'}" th:href="@{#}"
                                                            class="review" th:data-orderno="${order.orderNo}"
                                                            th:data-itemno="${orderItem.itemNo}"
                                                            th:data-prodname="${products[index.index][orderindex.index].prodName}"
                                                            th:data-uid="${#authentication.principal.user.uid}"
                                                            th:data-prodno="${products[index.index][orderindex.index].prodNo}">
                                                            상품평
                                                        </li><!--구매확정이 되면 상품평 입력이 가능함-->
                                                        <!--
                                                        <li th:href="@{#}" class="exchange">교환신청</li> -->
                                                        <li id="delete"
                                                            th:if="${orderItem.orderState != '주문 취소' && orderItem.orderState != '환불'}"
                                                            th:data-itemNo="${orderItem.itemNo}" class="refund">환불(주문취소)신청
                                                        </li>

                                                    </ol>
                                                </td>
                                                </td>
                                            </tr>

                                        </table>
                                        <p>배송 준비 이전의 주문은 취소 처리가 되며, 이후의 상품의 경우 배송비(3,000원)가 부가됩니다.</p>
                                        <br>
                                    </article>
                                    <article class="delivery">
                                        <h3 style="font-size: 20px">결제 및 배송정보</h3>
                                        <h3>
                                            배송비 <span th:if="${order.delivery != 0}" class="request">[[${#numbers.formatCurrency(order.delivery)}]]></span>
                                            <span th:if="${order.delivery == 0}" class="request">무료</span>
                                            포인트 사용  <span  th:if="${order.point != 0}"> [[${#numbers.formatCurrency(order.point)}]] </span>
                                            <span  th:if="${order.point == 0}"> 사용X </span>
                                            쿠폰 사용 <span th:if="${order.couponDiscount != 0}"> [[${#numbers.formatCurrency(order.couponDiscount)}]]</span>
                                            <span th:if="${order.couponDiscount == 0}"> 사용X </span>
                                            상품 할인 금액 <span th:if="${order.getItemDiscount() != 0}">[[${#numbers.formatCurrency(order.getItemDiscount)}]]</span>
                                            <span th:if="${order.getItemDiscount() == 0}"> 사용X </span>
                                            = 최종 결제 금액 <span style="color: red; font-weight: bolder"> [[${#numbers.formatCurrency(order.orderTotalPrice)}]]</span>
                                        </h3>
                                        <table border="0" style="width: 100%">

                                            <tr>
                                                <th>받으실 분</th>
                                                <td class="name">[[${order.receiveName}]]</td>
                                            </tr>
                                            <tr>
                                                <th>연락처</th>
                                                <td class="hp">[[${order.receiveHp}]]</td>
                                            </tr>
                                            <tr style="width: auto">
                                                <th>배송지</th>
                                                <td class="address">[ [[${order.zip}]] ] [[${order.addr1}]] [[${order.addr2}]]
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>요청사항</th>
                                                <td class="hp">[[${order.memo}]]</td>
                                            </tr>

                                        </table>
                                    </article>
                                </section>
                            </div>
                        </div>
                    </th:block>


                </section>

            </div>


    </div>
</body>
</html>