<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/my/layout/myLayout.html}">

<!--
    - 회원정보 수정 및 탈퇴 기능
    - 회원탈퇴는 해당 사용자의 아이디만 남기고 모두 컬럼의 값을 null 업데이트
-->

<div class="info" layout:fragment="content">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>


    <script>

        //유효성 검사에 사용할 상태변수
        let isUidOk = false;
        let isPassOk = false;
        let isNameOk = false;
        let isNickOk = false;
        let isEmailOk = false;
        let isHpOk = false;
        let isEmailCodeOk = false;

        // 유효성 검사에 사용할 정규표현식
        const uid = `[[${user.uid}]]`;
        const rePass = /^(?=.*[a-zA-z])(?=.*[0-9])(?=.*[$`~!@$!%*#^?&\\(\\)\-_=+]).{5,16}$/;
        const reName = /^[가-힣]{2,10}$/
        const reNick = /^[a-zA-Zㄱ-힣0-9][a-zA-Zㄱ-힣0-9]*$/;
        const reEmail = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
        const reHp = /^01(?:0|1|[6-9])-(?:\d{4})-\d{4}$/;


        window.onload = function () {

            //배너 조회수 올리기

            const Banner = document.getElementsByClassName('Banner')[0];

            Banner.onclick = function (e){

                e.preventDefault();


                const bannerNo = Banner.getAttribute('data-bannerNo');
                const link = Banner.getAttribute('data-link');

                console.log('bannerNo :' + bannerNo);

                const jsonData = {
                    "bannerNo": bannerNo
                }

                fetch("/lotteshop/main/banner/index", {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(jsonData)
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('데이터 전송에 실패!');
                        } else {
                            window.location.href = link;
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log(data);
                    })
                    .catch(err => console.log(err))
            }


            const btnChangePassword = document.getElementById('btnChangePassword');
            const formChangePassword = document.formChangePassword;

            const inputPass2 = document.getElementById('pass2');
            const inputPass1 = document.getElementById('pass1');

            btnChangePassword.onclick = function (e) {
                e.preventDefault();
                if (inputPass2.value === inputPass1.value) {
                    if (!inputPass2.value.match(rePass)) {
                        alert('비밀번호 형식에 맞지 않습니다. \n ' +
                            '영문 숫자, 특수문자를 사용하여 5자 이상 입력해 주세요.')
                    } else {
                        const data = formChangePassword.submit();
                    }
                } else {
                    alert('비밀번호가 일치하지 않습니다.')
                }
            }



            // 이메일 유효성 검사
            const inputEmail = document.getElementById('inputEmail');
            const btnCheckEmail = document.getElementById('btnCheckEmail');
            const insertCode = document.getElementById('insertCode');
            const emailSpinner = document.getElementById('emailSpinner');

            btnCheckEmail.onclick = function () {
                const value = inputEmail.value;
                console.log(value)
                // 유효성 검사
                emailSpinner.classList.remove('d-none');
                if (!value.match(reEmail)) {
                    emailSpinner.classList.add('d-none');
                    alert("이메일 형식이 맞지 않습니다.");
                } else {
                    // 이메일 인증코드 발급 및 중복체크
                    setTimeout(async () => {
                        const data = await fetchGet(`/lotteshop/member/check/email/${value}`);
                        console.log('data : ' + data.result);
                        if (data.result > 0) {
                            emailSpinner.classList.add('d-none');
                            alert("이미 사용중인 이메일입니다.")
                        } else {
                            emailSpinner.classList.add('d-none');
                            alert("인증코드가 발송되었습니다.")
                            insertCode.style.display = "";
                        }
                    }, 1000);
                }
            }


            // 이메일 인증코드 확인
            const inputEmailCode = document.getElementById('code');
            const btnCheckEmailCode = document.getElementById('btnCheckEmailCode');

            btnCheckEmailCode.onclick = async function (e) {
                e.preventDefault();
                const value = inputEmailCode.value;
                const newEmail = inputEmail.value;
                const data = await fetchGet(`/lotteshop/member/email/${value}`);

                if (!data.result) {
                    alert('인증코드가 일치하지 않습니다.')
                } else {
                    const result = confirm('인증되었습니다. 변경하시겠습니까?');
                    if (result) {
                        const result2 = await fetchGet(`/lotteshop/my/email/${newEmail}/${uid}`);
                        if (result2.success === '100') {
                            alert('변경되었습니다.');
                            insertCode.style.display = "none";
                        }
                    } else {
                        insertCode.style.display = "none";
                    }

                }
            }

            // 휴대폰 유효성 검사
            const inputHp = document.getElementById('inputHp');
            const resultHp = document.getElementById('result_Hp');
            inputHp.addEventListener('focusout', async () => {

                const value = inputHp.value;

                if (!value.match(reHp)) {
                    showResultInvalid(resultHp, '휴대폰 형식이 맞지 않습니다.');
                } else {
                    setTimeout(async () => {
                        const data = await fetchGet(`/lotteshop/member/check/hp/${value}`);

                        if (data.result > 0) {
                            showResultInvalid(resultHp, '이미 사용중인 휴대폰 입니다.');
                        } else {
                            showResultInvalid(resultHp, '');
                            if (confirm('휴대폰 번호를 변경하시겠습니까?')) {
                                const result2 = await fetchGet(`/lotteshop/my/hp/${value}/${uid}`);
                                if (result2.success === '100') {
                                    alert('변경되었습니다.');
                                }
                            }
                        }
                    }, 1000);
                }
            });

            //우편번호 검색
            function postcode() {
                new daum.Postcode({
                    oncomplete: function (data) {
                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                        var addr = ''; // 주소 변수
                        var extraAddr = ''; // 참고항목 변수

                        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                            addr = data.roadAddress;
                        } else { // 사용자가 지번 주소를 선택했을 경우(J)
                            addr = data.jibunAddress;
                        }

                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        document.getElementById('inputZip').value = data.zonecode;
                        document.getElementById("inputAddr1").value = addr;
                        // 커서를 상세주소 필드로 이동한다.
                        document.getElementById("inputAddr2").focus();
                    }
                }).open();
            }

            findZip.onclick = function () {
                postcode();
            }

            const inputAddr2 = document.getElementById('inputAddr2');
            const inputAddr1 = document.getElementById('inputAddr1');

            inputAddr2.addEventListener('focusout', async () => {
                console.log(inputZip.value);
                if (inputZip.value === "") {
                    alert('우편번호를 입력해주세요')
                } else if (inputAddr1.value === "") {
                    alert('기본주소를 입력해주세요')
                } else {
                    const result = await confirm('주소를 수정하시겠습니까?')
                    if (result) {
                        const jsonData = {
                            zip: inputZip.value,
                            addr1: inputAddr1.value,
                            addr2: inputAddr2.value,
                            uid: uid
                        }

                        const result2 = await fetchPut('/lotteshop/my/modifyAddr', jsonData);
                        if (result2.success === '100') {
                            alert('주소가 수정되었습니다.');
                        }
                    }
                }
            })

            //탈퇴기능 구현
            const delUser = document.getElementById('btnWithdraw');

            delUser.onclick = async function (e){
                e.preventDefault();

                const userConfirmed = confirm('정말로 탈퇴하시겠습니까?');
                if (userConfirmed) {
                    const uid = document.getElementById('uid').value;//사용자 아이디

                    console.log('사용자 아이디 : '+uid);

                    //status 0으로 권한을 None으로 변경
                    const data = await fetchGet(`/lotteshop/my/delUser/${uid}`);

                    if(data.result==="success"){

                        alert("탈퇴가 되었습니다!");

                        window.location.href=`/lotteshop/member/logout`;

                    }
                }
            }
        }

    </script>
    <ul>
        <span class="menu_else"></span>
        <li><a th:href="@{/my/order}">전체주문내역</a></li>
        <li><a th:href="@{/my/favorite}">관심상품</a></li>
        <li><a th:href="@{/my/point}">포인트내역</a></li>
        <li><a th:href="@{/my/coupon}">쿠폰</a></li>
        <li ><a th:href="@{/my/review(uid=${#authentication.principal.username})}">나의리뷰</a></li>
        <li><a th:href="@{/my/qna}">문의하기</a></li>
        <li class="on"><a th:href="@{/my/info}">나의설정</a></li>
    </ul>

    <section>
        <!---배너시작-->
        <th:block th:if="${banner5 != null and !banner5.isEmpty()}">
            <th:block th:each="banner : ${banner5}">
                <div id="bannerTop" class="on" th:style="'background-color:' + ${banner.color}">
                    <article>
                        <a class="Banner" th:href="${banner.link}" th:if="${banner.status} == 1" th:data-bannerNo="${banner.bannerNo}"
                           th:data-link="${banner.link}">
                            <img class="bannerImg" th:src="@{/uploads/__${banner.img_810}__}"/>
                        </a>
                    </article>
                </div>
            </th:block>
        </th:block>

        <th:block th:unless="${banner5 != null and !banner5.isEmpty()}"></th:block>
        <form name="formChangePassword" th:action="@{/my/passwordChange}" method="post">
            <article>
                <h3>회원정보 설정</h3>

                <table border="0">
                    <tr>
                        <td>사용자 ID</td>
                        <td>
                            <input type="text" id = "uid" name="uid" th:value="${user.uid}" readonly/>
                        </td>
                    </tr>
                    <tr>
                        <td>새 비밀번호</td>
                        <td>
                            <input type="password" name="pass1" id="pass1">
                        </td>
                    </tr>
                    <tr>
                        <td>새 비밀번호 (확인)</td>
                        <td>
                            <input type="password" name="pass2" id="pass2">
                            <button type="button" id="btnChangePassword">비밀번호 수정</button>
                        </td>
                    </tr>
                    <tr>
                        <td>이름</td>
                        <td th:text="${user.name}"></td>
                    </tr>
                    <tr>
                        <td>생년월일</td>
                        <td>1983년 05월 03일</td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td>
                            <input id="inputEmail" type="text" name="email" th:value="${user.email}">
                            <button class="btnCheckEmail" type="button" id="btnCheckEmail" data-type="email">
                                <span class="spinner spinner-border spinner-border-sm d-none" aria-hidden="true"
                                      id="emailSpinner"></span>
                                <span class="" role="status">이메일 인증</span>
                            </button>
                            <span id="result_email"></span>

                            <!--이메일 인증코드 검사-->
                    <tr style="display: none" id="insertCode">
                        <td>E-mail 인증코드</td>
                        <td>
                            <input class="form-control" id="code" name="email" type="text"
                                   placeholder="이메일 인증코드 입력"/>
                            <button type="button" class="btnSubmit" id="btnCheckEmailCode"
                                    data-type="email">인증코드 확인
                            </button>
                        </td>
                    </tr>
                    <div>

                        <div id="resultEmailCode" class="d-block"></div>
                    </div>
                    </td>
                    </tr>
                    <tr>
                        <td>휴대폰</td>
                        <td>
                            <p class="hp">
                                <input class="form-control" type="text" id="inputHp" name="hp"
                                       maxlength="13" minlength="13" th:value="${user.hp}"/>
                                <button type="button" id="btnChangeHp">수정하기</button>
                            <div id="result_Hp" class="d-block"></div>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>주소</td>
                        <td>
                            <input type="text" name="zip" id="inputZip" th:value="${user.zip}" readonly/>
                            <button type="button" id="findZip">주소검색</button>
                            <p class="address">
                                <input type="text" name="addr1" id="inputAddr1" th:value="${user.addr1}" readonly/>
                                <input type="text" name="addr2" id="inputAddr2" th:value="${user.addr2}"/>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>회원탈퇴</td>
                        <td>
                            <button type="button" id="btnWithdraw">탈퇴하기</button>
                        </td>
                    </tr>
                </table>
            </article>
        </form>
    </section>

</div>


</html>