<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/my/layout/myLayout.html}">


            <div class="point" layout:fragment="content">
                <ul>
                    <span class="menu_else"></span>
                    <li ><a th:href="@{/my/order}">전체주문내역</a></li>
                    <li><a th:href="@{/my/favorite}">관심상품</a></li>
                    <li class="on"><a th:href="@{/my/point}">포인트내역</a></li>
                    <li><a th:href="@{/my/coupon}">쿠폰</a></li>
                    <li ><a th:href="@{/my/review(uid=${#authentication.principal.username})}">나의리뷰</a></li>
                    <li><a th:href="@{/my/qna}">문의하기</a></li>
                    <li ><a th:href="@{/my/info}">나의설정</a></li>
                </ul>

                <section>
                    <!---배너시작-->
                    <th:block th:if="${banner5 != null and !banner5.isEmpty()}">
                        <th:block th:each="banner : ${banner5}">
                            <div id="bannerTop" class="on" th:style="'background-color:' + ${banner.color}">
                                <article>
                                    <a class="Banner" th:href="${banner.link}" th:if="${banner.status} == 1" th:data-bannerNo="${banner.bannerNo}"
                                       th:data-link="${banner.link}">
                                        <img class="bannerImg" th:src="@{/uploads/__${banner.img_810}__}"/>
                                    </a>
                                </article>
                            </div>
                        </th:block>
                    </th:block>

                    <th:block th:unless="${banner5 != null and !banner5.isEmpty()}"></th:block>
                    <article>
                        <h3>포인트내역</h3>

                        <div class="byDate">
                            <span class="tit">기간별조회</span>
                            <ul class="date_3ea">
                                <th:block th:if="${pageResponseDTO.oneWeek =='yes'}">
                                    <li ><a  class="on" th:href="@{/my/point(oneWeek = 'yes')}"><em>1</em>주일</a></li>
                                    <li><a th:href="@{/my/point(fifteen = 'yes')}"><em>15</em>일</a></li>
                                    <th:block th:with="currentMonth=${T(java.time.LocalDate).now().getMonthValue()}">
                                        <li><a th:href="@{/my/point(currentMonth = ${currentMonth})}" ><em>1</em>개월</a></li>
                                    </th:block>
                                </th:block>

                                <th:block th:if="${pageResponseDTO.fifteen =='yes'}">
                                    <li ><a th:href="@{/my/point(oneWeek = 'yes')}"><em>1</em>주일</a></li>
                                    <li ><a  class="on" th:href="@{/my/point(fifteen = 'yes')}"><em>15</em>일</a></li>
                                    <th:block th:with="currentMonth=${T(java.time.LocalDate).now().getMonthValue()}">
                                        <li><a th:href="@{/my/point(currentMonth = ${currentMonth})}" ><em>1</em>개월</a></li>
                                    </th:block>
                                </th:block>

                                <th:block th:if="${pageResponseDTO.fifteen !='yes' && pageResponseDTO.oneWeek != 'yes'}">
                                    <li ><a th:href="@{/my/point(oneWeek = 'yes')}"><em>1</em>주일</a></li>
                                    <li ><a th:href="@{/my/point(fifteen = 'yes')}"><em>15</em>일</a></li>
                                    <th:block th:with="currentMonth=${T(java.time.LocalDate).now().getMonthValue()}">
                                        <li ><a  class="on" th:href="@{/my/point(currentMonth = ${currentMonth})}" ><em>1</em>개월</a></li>
                                    </th:block>
                                </th:block>
                            </ul>
                            <ul class="date_5ea">
                                <th:block th:with="currentMonth=${T(java.time.LocalDate).now().getMonthValue()}">
                                    <li th:each="i : ${#numbers.sequence(0, 4)}">
                                            <a  th:href="@{/my/point(currentMonth = ${currentMonth - i})}">
                                                <em th:if="${currentMonth - i > 0}" th:text="${(currentMonth - i)}"></em>
                                                <em th:if="${currentMonth - i <= 0}" th:text="${(currentMonth - i) + 12}"></em>월
                                                <span th:if="${currentMonth - i <= 0}"></span>
                                            </a>

                                    </li>
                                </th:block>
                            </ul>

                            <form th:action="@{/my/point}">
                                <input type="datetime-local" name="dateBegin" min="[LAST_DATE]" max="[CURRENT_DATE]" required>
                                <span>~</span>
                                <input type="datetime-local" name="dateEnd" max="[CURRENT_DATE]" required>
                                <button class="btnConfirm" type="submit">조회하기</button>
                            </form>
                            <script>
                                window.onload=function (){
                                    //배너 조회수 올리기

                                    const Banner = document.getElementsByClassName('Banner')[0];

                                    Banner.onclick = function (e){

                                        e.preventDefault();

                                        const bannerNo = Banner.getAttribute('data-bannerNo');
                                        const link = Banner.getAttribute('data-link');

                                        console.log('bannerNo :' + bannerNo);

                                        const jsonData = {
                                            "bannerNo": bannerNo
                                        }

                                        fetch("/lotteshop/main/banner/index", {
                                            method: 'POST',
                                            headers: {'Content-Type': 'application/json'},
                                            body: JSON.stringify(jsonData)
                                        })
                                            .then(response => {
                                                if (!response.ok) {
                                                    throw new Error('데이터 전송에 실패!');
                                                } else {
                                                    window.location.href = link;
                                                }
                                                return response.json();
                                            })
                                            .then(data => {
                                                console.log(data);
                                            })
                                            .catch(err => console.log(err))
                                    }



                                    // 현재 날짜 가져오기
                                    var currentDate = new Date().toISOString().split('T')[0];

                                    // 현재 날짜의 1년 전 날짜 계산
                                    var oneYearAgo = new Date();
                                    oneYearAgo.setFullYear(oneYearAgo.getFullYear() - 1);
                                    var oneYearAgoDate = oneYearAgo.toISOString().split('T')[0];

                                    // 최대 날짜 설정
                                    document.getElementsByName("dateBegin")[0].setAttribute('max', currentDate);
                                    document.getElementsByName("dateBegin")[0].setAttribute('min', oneYearAgoDate);
                                    document.getElementsByName("dateEnd")[0].setAttribute('max', currentDate);


                                    // 입력 필드의 날짜 변경 이벤트 리스너 등록
                                    document.getElementsByName("dateBegin")[0].addEventListener('change', function() {
                                        var startDate = new Date(this.value);
                                        var endDate = new Date(document.getElementsByName("dateEnd")[0].value);

                                        // 시작일과 종료일을 비교하여 종료일이 시작일보다 이전이면 종료일을 시작일과 동일하게 설정
                                        if (startDate > endDate) {
                                            document.getElementsByName("dateEnd")[0].value = this.value;
                                        }
                                    });

                                    document.getElementsByName("dateEnd")[0].addEventListener('change', function() {
                                        var startDate = new Date(document.getElementsByName("dateBegin")[0].value);
                                        var endDate = new Date(this.value);

                                        // 종료일과 시작일을 비교하여 시작일이 종료일보다 이후면 시작일을 종료일과 동일하게 설정
                                        if (endDate < startDate) {
                                            document.getElementsByName("dateBegin")[0].value = this.value;
                                        }
                                    });

                                }
                            </script>
                        </div>

                        <table border="0">
                            <tr>
                                <th>날짜</th>
                                <th>구분</th>
                                <th>주문번호</th>
                                <th>적립금액</th>
                                <th>비고</th>
                            </tr>
                            <tr th:each="point, index:${pageResponseDTO.dtoList}">
                                <td >[[${#temporals.format(point.pointDate , 'yyyy-MM-dd')}]]</td>
                                <td>[[${point.state}]]</td>
                                <td th:if="${point.orderNo>=0}">[[${point.orderNo}]]</td>
                                <td th:if="${point.orderNo<0}"></td>
                                <td>[[${point.point}]]</td>
                                <td>[[${point.pointDesc}]]</td>
                            </tr>

                        </table>
                        <th:block th:if="${pageResponseDTO.dtoList.size()==0}">
                            <h3 style="text-align: center">내역이 없습니다.</h3>
                        </th:block>
                        <th:block th:if="${pageResponseDTO.dtoList.size()>0}">
                            <th:block th:if="${pageResponseDTO.dateBegin != null && pageResponseDTO.dateBegin != ''}">
                                <p class="page">

                                    <a th:if="${pageResponseDTO.prev}"
                                       th:href="@{/my/point(pg=${pageResponseDTO.start - 1}, currentMonth=${pageResponseDTO.currentMonth}, oneWeek=${pageResponseDTO.oneWeek}, fifteen=${pageResponseDTO.fifteen}, dateBegin=${pageResponseDTO.dateBegin}, dateEnd=${pageResponseDTO.dateEnd})}"
                                       class="prev">이전</a>
                                    <th:block th:each="num:${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
                                        <th:block th:if="${num == pageResponseDTO.pg}">
                                            <a th:href="@{/my/point( pg=${num } , currentMonth=${pageResponseDTO.currentMonth}, oneWeek=${pageResponseDTO.oneWeek}, fifteen=${pageResponseDTO.fifteen}, dateBegin=${pageResponseDTO.dateBegin}, dateEnd=${pageResponseDTO.dateEnd})}"
                                               class="on">[[${num}]]</a>
                                        </th:block>

                                        <th:block th:if="${num != pageResponseDTO.pg}">
                                            <a th:href="@{/my/point( pg=${num } , currentMonth=${pageResponseDTO.currentMonth}, oneWeek=${pageResponseDTO.oneWeek}, fifteen=${pageResponseDTO.fifteen}, dateBegin=${pageResponseDTO.dateBegin}, dateEnd=${pageResponseDTO.dateEnd})}">[[${num}]]</a>
                                        </th:block>
                                    </th:block>
                                    <a th:if="${pageResponseDTO.next}"
                                       th:href="@{/my/point( pg=${pageResponseDTO.end+1}, currentMonth=${pageResponseDTO.currentMonth}, oneWeek=${pageResponseDTO.oneWeek}, fifteen=${pageResponseDTO.fifteen}, dateBegin=${pageResponseDTO.dateBegin}, dateEnd=${pageResponseDTO.dateEnd})}"
                                       class="next">다음</a>
                                </p>
                            </th:block>
                            <th:block th:if="${pageResponseDTO.dateBegin == null || pageResponseDTO.dateBegin == ''}">
                                <p class="page">

                                    <a th:if="${pageResponseDTO.prev}"
                                       th:href="@{/my/point(pg=${pageResponseDTO.start - 1}, currentMonth=${pageResponseDTO.currentMonth}, oneWeek=${pageResponseDTO.oneWeek}, fifteen=${pageResponseDTO.fifteen})}"
                                       class="prev">이전</a>
                                    <th:block th:each="num:${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
                                        <th:block th:if="${num == pageResponseDTO.pg}">
                                            <a th:href="@{/my/point( pg=${num } , currentMonth=${pageResponseDTO.currentMonth}, oneWeek=${pageResponseDTO.oneWeek}, fifteen=${pageResponseDTO.fifteen})}"
                                               class="on">[[${num}]]</a>
                                        </th:block>

                                        <th:block th:if="${num != pageResponseDTO.pg}">
                                            <a th:href="@{/my/point( pg=${num } , currentMonth=${pageResponseDTO.currentMonth}, oneWeek=${pageResponseDTO.oneWeek}, fifteen=${pageResponseDTO.fifteen})}">[[${num}]]</a>
                                        </th:block>
                                    </th:block>
                                    <a th:if="${pageResponseDTO.next}"
                                       th:href="@{/my/point( pg=${pageResponseDTO.end+1}, currentMonth=${pageResponseDTO.currentMonth}, oneWeek=${pageResponseDTO.oneWeek}, fifteen=${pageResponseDTO.fifteen})}"
                                       class="next">다음</a>
                                </p>
                            </th:block>
                        </th:block>

                    </article>                  

                    

                </section>

            </div>
        </div>        

</html>