<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/my/layout/myLayout.html}">


            <div class="qna" layout:fragment="content">

                <script>

                    window.onload = function (){

                    //배너 조회수 올리기

                    const Banner = document.getElementsByClassName('Banner')[0];

                    const productAnswers = document.querySelectorAll('#productAnswer');
                        const button = document.getElementById('couponButton');
                        const couponModal = document.getElementById('couponModal');
                        const closeButton = document.getElementById('closeButton');
                    const qnaAnswers = document.querySelectorAll('#csQnaAnswer');

                        qnaAnswers .forEach(function (item){
                            item.onclick = async function (e) {
                                e.preventDefault();
                                console.log(item.getAttribute('data-no'));
                                couponModal.style.display = 'block';
                                const result = await fetchGet('/lotteshop/my/answer2?no=' + item.getAttribute('data-no'));
                                document.getElementById('question').innerText = '제목 : '+ result.data.title;
                                document.getElementById('contents').innerText = '질문 : '+ result.data.content;
                                if(result.data.comment != null)
                                {
                                    document.getElementById('answer').innerText = '답변 : '+ result.data.comment;
                                }
                            }
                        })

                    productAnswers.forEach(function (item){
                        item.onclick = async function (e) {
                            e.preventDefault();
                            console.log(item.getAttribute('data-no'));
                            couponModal.style.display = 'block';
                            const result = await fetchGet('/lotteshop/my/answer?no=' + item.getAttribute('data-no'));
                            document.getElementById('question').innerText = '질문 : '+ result.data.content;
                            if(result.data.answer != null)
                            {
                                document.getElementById('answer').innerText = '답변 : '+ result.data.answer;
                            }
                        }
                    })

                        closeButton.onclick = function (e) {
                            couponModal.style.display = 'none';
                        }

                    Banner.onclick = function (e){

                        e.preventDefault();


                        const bannerNo = Banner.getAttribute('data-bannerNo');
                        const link = Banner.getAttribute('data-link');

                        console.log('bannerNo :' + bannerNo);

                        const jsonData = {
                            "bannerNo": bannerNo
                        }

                        fetch("/lotteshop/main/banner/index", {
                            method: 'POST',
                            headers: {'Content-Type': 'application/json'},
                            body: JSON.stringify(jsonData)
                        })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('데이터 전송에 실패!');
                                } else {
                                    window.location.href = link;
                                }
                                return response.json();
                            })
                            .then(data => {
                                console.log(data);
                            })
                            .catch(err => console.log(err))
                    }
                    }


                </script>
                <ul>
                    <span class="menu_else"></span>
                    <li ><a th:href="@{/my/order}">전체주문내역</a></li>
                    <li><a th:href="@{/my/favorite}">관심상품</a></li>
                    <li ><a th:href="@{/my/point}">포인트내역</a></li>
                    <li><a th:href="@{/my/coupon}">쿠폰</a></li>
                    <li ><a th:href="@{/my/review(uid=${#authentication.principal.username})}">나의리뷰</a></li>
                    <li class="on"><a th:href="@{/my/qna}">문의하기</a></li>
                    <li ><a th:href="@{/my/info}">나의설정</a></li>
                </ul>

                <section>
                    <!---배너시작-->
                    <th:block th:if="${banner5 != null and !banner5.isEmpty()}">
                        <th:block th:each="banner : ${banner5}">
                            <div id="bannerTop" class="on" th:style="'background-color:' + ${banner.color}">
                                <article>
                                    <a class="Banner" th:href="${banner.link}" th:if="${banner.status} == 1" th:data-bannerNo="${banner.bannerNo}"
                                       th:data-link="${banner.link}">
                                        <img class="bannerImg" th:src="@{/uploads/__${banner.img_810}__}"/>
                                    </a>
                                </article>
                            </div>
                        </th:block>
                    </th:block>

                    <th:block th:unless="${banner5 != null and !banner5.isEmpty()}"></th:block>
                    <article>
                        <h3>
                            <a th:if="${adminCsQna.getGruop() == 'qna'}" th:href="@{/my/qna}" style="border: 1px solid gray; font-size: 15px; padding: 2px; background-color: #EDE7E0">1:1 문의하기</a>
                            <a th:if="${adminCsQna.getGruop() != 'qna'}" th:href="@{/my/qna}" style="border: 1px solid gray; font-size: 15px; padding: 2px">1:1 문의하기</a>
                            <a th:if="${adminCsQna.getGruop() == 'product'}" th:href="@{/my/qna(group = product)}" style="border: 1px solid gray; font-size: 15px;  padding: 2px; background-color: #EDE7E0" >상품 문의</a>
                            <a th:if="${adminCsQna.getGruop() != 'product'}" th:href="@{/my/qna(group = product)}" style="border: 1px solid gray; font-size: 15px;  padding: 2px">상품 문의</a>

                        </h3>
                        <th:block th:if="${adminCsQna.getGruop() == 'product' }">
                        <table border="0">
                            <tr>
                                <th>번호</th>
                                <th>문의채널</th>
                                <th>상품명</th>
                                <th>내용</th>
                                <th>작성일</th>
                                <th>상태</th>
                            </tr>
                            <tr  th:each="prodQna, index : ${adminCsQna.dtoList4}">
                                <td class="no" th:text="${prodQna.no}"></td>
                                <td class="cate" th:text="${prodQna.cate}"></td>
                                <td class="type" th:text="${prodQna.productName}"></td>
                                <td class="tit"><a  th:text="${prodQna.content}"  th:data-no="${prodQna.no}" id="productAnswer"></a></td>
                                <td class="date" th:text="${#strings.substring(prodQna.rdate , 0,10)}" > </td>
                                <td class="status">
                                    <th:block th:if="${prodQna.status1 == '답변 대기중'}">
                                        <p style="font-size: 16px; color: #0D3A46"  th:text="${prodQna.status1}"></p>
                                    </th:block>
                                    <th:block th:if="${prodQna.status1 != '답변 대기중'}">
                                        <p  style="font-size: 16px; color: #4CAF50 "  th:text="${prodQna.status1}"></p>
                                    </th:block>
                                </td>
                            </tr>

                        </table>
                            </th:block>
                            <th:block th:if="${adminCsQna.getGruop() != 'product' }">
                                <table border="0">
                                    <tr>
                                        <th>번호</th>
                                        <th>문의채널</th>
                                        <th>문의유형</th>
                                        <th>제목</th>
                                        <th>작성일</th>
                                        <th>상태</th>
                                    </tr>
                                <tr  th:each="csQna, index : ${adminCsQna.dtoList3}">
                                    <td class="no" th:text="${csQna.no}"></td>

                                    <td class="cate" th:text="${csQna.cate1}"></td>
                                    <td class="type" th:text="${csQna.cate2}"></td>
                                    <td class="tit" > <a  th:text="${csQna.title}"  th:data-no="${csQna.no}" id="csQnaAnswer"></a></td>
                                    <td class="date" th:text="${#strings.substring(csQna.rdate , 0,10)}"></td>

                                    <td class="status">
                                        <th:block th:if="${csQna.status == '답변 대기중'}">
                                            <p style="font-size: 16px; color: #0D3A46"  th:text="${csQna.status}"></p>
                                        </th:block>
                                        <th:block th:if="${csQna.status != '답변 대기중'}">
                                            <p  style="font-size: 16px; color: #4CAF50 "  th:text="${csQna.status}"></p>
                                        </th:block>
                                    </td>

                                </tr>
                                </table>
                            </th:block>

                    </article>
                    <!-- 모달 -->
                    <div id="couponModal" class="couponModal">
                        <!-- 모달 내용 -->
                        <div class="couponModal-content">
                            <span id="closeButton" class="close">&times;</span>
                            <!-- 여기에 쿠폰 등록 폼 추가 -->
                            <h4>내용 </h4>
                            <br>
                            <br>
                            <p style="font-size: 15px" id="question"></p>
                            <br>
                            <br>
                            <p style="font-size: 15px" id="contents"></p>
                            <br>
                            <br>
                            <p style="font-size: 15px" id="answer">답변 : 아직 답변이 등록되지 않았습니다.</p>
                            <br>
                        </div>
                    </div>
                    <br>
                    <p class="page" style="text-align: center">
                        <a th:if="${adminCsQna.prev}"
                           th:href="@{/my/qna(pg=${adminCsQna.start - 1}, group=${adminCsQna.getGruop()} )}"
                           class="prev">이전</a>
                        <th:block th:each="num:${#numbers.sequence(adminCsQna.start, adminCsQna.end)}">
                            <th:block th:if="${num == adminCsQna.pg}">
                                <a th:href="@{/my/qna( pg=${num } , group=${adminCsQna.getGruop()} )}"
                                  style="color: blue">[[${num}]]</a>
                            </th:block>
                            <th:block th:if="${num != adminCsQna.pg}">
                                <a th:href="@{/my/qna( pg=${num } , group=${adminCsQna.getGruop()} )}">[[${num}]]</a>
                            </th:block>
                        </th:block>
                        <a th:if="${adminCsQna.next}"
                           th:href="@{/my/qna( pg=${adminCsQna.end+1},group=${adminCsQna.getGruop()})}"
                           class="next">다음</a>
                    </p>
                    <br>
                </section>

            </div>
        </div>

</html>