<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/cs/layouts/csLayout.html}">

<main layout:fragment="content">
    <script>
        window.onload = function (){
        //////////////////////////////////////////////////////////////////
        /////btnHome, Top
        //////////////////////////////////////////////////////////////////
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 250) {
                    $('#btnTop').fadeIn();
                } else {
                    $('#btnTop').fadeOut();
                }
            });
            $('#btnTop').click(function () {
                $('html, body').animate({scrollTop: 0}, 400);
                return false;
            });
        });

        //////////////////////////////////////////////////////////////////
        ///// 더보기 및 간략히 보기
        //////////////////////////////////////////////////////////////////
        const loadMoreAll = document.getElementsByClassName('loadMore');
        Array.from(loadMoreAll).forEach(function (loadMore) {
            loadMore.addEventListener('click', function (e){
                e.preventDefault();
                const button = e.target;
                const ul = button.parentNode.parentNode; // ul태그
                const faqListAll = ul.querySelectorAll('.faq-list'); // ul태그 안에 있는 모든 faqList
                if (button.innerText === "더보기") {
                    for (let i = 3; i < 10; i++) {
                        faqListAll[i].style.display = "block";
                        button.innerText = "간략히 보기";
                    }
                }else {
                    for (let i = 3; i < 10; i++) {
                        faqListAll[i].style.display = "none";
                        button.innerText = "더보기";
                    }
                }
            })
        })


        }


    </script>

    <section id="cs">
        <div class="faq">
            <nav>
                <div>
                    <p>홈<span>></span>자주묻는 질문</p>
                </div>
            </nav>
            <section class="list">
                <aside>
                    <h2>자주묻는 질문</h2>
                    <ul>
                        <li><a th:href="@{/cs/faq(cate1='user')}">회원</a></li>
                        <li><a th:href="@{/cs/faq(cate1='event')}">이벤트/쿠폰</a></li>
                        <li><a th:href="@{/cs/faq(cate1='order')}">주문/결제</a></li>
                        <li><a th:href="@{/cs/faq(cate1='delivery')}">배송</a></li>
                        <li><a th:href="@{/cs/faq(cate1='cancel')}">취소/반품/교환</a></li>
                        <li><a th:href="@{/cs/faq(cate1='receipt')}">거래증빙서류</a></li>
                    </ul>
                </aside>
                <article>
                    <h2>회원</h2>
                    <nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3">
                        <a class="navbar-brand" href="#">가장 자주 묻는 질문 입니다</a>
                        <!--
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" href="#scrollspyHeading1">롯데오너스</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#scrollspyHeading2">정보확인/변경</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#scrollspyHeading3">회원가입</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#scrollspyHeading4">회원등급</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#scrollspyHeading5">회원탈퇴</a>
                            </li>
                        </ul>
                        -->
                    </nav>

                    <div th:each="dtoList , index:${dtoLists}" th:with="cate2=${dtoList.get(0).getCate2()}">
                            <h3>[[${dtoLists[index.index][0].catename}]]</h3>
                        <ul>
                            <li class="faq-list" th:each="dto : ${dtoList}">
                                <a th:href="@{/cs/faq/view/{no}(no=${dto.no})}"><span>Q.</span>[[${dto.title}]]</a>
                            </li>
                            <li class="loadMore" style="display: block">
                                <a style="text-align: center"  href="#">더보기</a>
                            </li>
                        </ul>
                    </div>
                    <aside>
                        <a th:href="@{/cs}" id="btnHome">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-house-check" viewBox="0 0 16 16">
                                <path d="M7.293 1.5a1 1 0 0 1 1.414 0L11 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l2.354 2.353a.5.5 0 0 1-.708.708L8 2.207l-5 5V13.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 2 13.5V8.207l-.646.647a.5.5 0 1 1-.708-.708z"/>
                                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.707l.547.547 1.17-1.951a.5.5 0 1 1 .858.514"/>
                            </svg>
                        </a>
                        <a href="#" id="btnTop">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-box-arrow-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M3.5 6a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 1 0-1h2A1.5 1.5 0 0 1 14 6.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-8A1.5 1.5 0 0 1 3.5 5h2a.5.5 0 0 1 0 1z"/>
                                <path fill-rule="evenodd" d="M7.646.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 1.707V10.5a.5.5 0 0 1-1 0V1.707L5.354 3.854a.5.5 0 1 1-.708-.708z"/>
                            </svg>
                        </a>
                    </aside>
                </article>
            </section>
        </div>
    </section>

</main>
</html>
