<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>롯데ON::4조</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script th:src="@{/js/index.js}"></script>


    <script th:inline="javascript">
        var downCount = 0;
        function showPopularSearches() {
            var searchs = [[${searches}]]
            var container = document.getElementById("popularSearches");
            var delay = 2000; // 각 검색어가 나타나는 시간 간격 (2초)

            // searchs 배열을 순회하며 검색어를 하나씩 출력
            for (var i = 0; i < searchs.length; i++) {
                // 각 순위별로 setTimeout을 사용하여 출력 시간을 조절
                setTimeout(function(index) {
                    container.innerHTML = (index + 1) + ". " + searchs[index] + "<br>";
                }, delay * i, i);

            }
        }


        window.onload = function (){
            const btnPoint = document.getElementById('btnPoint');
            btnPoint.onclick=function (e){
                    document.location.href='/lotteshop/main/event';
            };

            showPopularSearches();
            setInterval(showPopularSearches, 20000);

                $(function () {

                    $('#bannerTop .btnClose').click(function () {
                        $(this).closest('#bannerTop').removeClass('on');
                    });

                });

            const sliders = document.getElementsByClassName('sliderBanner');
            for (const slider of sliders) {
                slider.onclick = function (e) {

                    e.preventDefault();

                    const bannerNo = slider.getAttribute('data-bannerNo');
                    const link = slider.getAttribute('data-link');

                    console.log('bannerNo :' + bannerNo);

                    const jsonData = {
                        "bannerNo": bannerNo
                    }

                    fetch("/lotteshop/main/banner/index", {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify(jsonData)
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('데이터 전송에 실패!');
                            } else {
                               window.location.href = link;
                                                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log(data);
                        })
                        .catch(err => console.log(err))
                }
            }

            const MainBanner = document.getElementsByClassName('MainBanner')[0];

            MainBanner.onclick = function (e){

                e.preventDefault();

                const bannerNo = MainBanner.getAttribute('data-bannerNo');
                const link = MainBanner.getAttribute('data-link');

                console.log('bannerNo :' + bannerNo);

                const jsonData = {
                    "bannerNo": bannerNo
                }

                fetch("/lotteshop/main/banner/index", {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(jsonData)
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('데이터 전송에 실패!');
                        } else {
                            window.location.href = link;
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log(data);
                    })
                    .catch(err => console.log(err))
            }

        }

        //검색
        function submitForm() {
            var keyword = document.getElementById("searchInput").value;
            if (keyword.trim() === "") {
                alert("검색어를 입력하세요!");
                return false; // 폼 전송 중단
            }
            document.getElementById("searchForm").submit();
            return true;
        }

        // 문의하기 로그인, 비로그인 상태에 따라
            try{
        const question = document.getElementById('question');
        question.onclick = function (e){
            e.preventDefault();
            try{
                const user = document.getElementById('userId').value;
                document.location.href = '/lotteshop/cs/qna/write';

            }catch(e){
                alert('로그인 후 이용할 수 있습니다.');
            }
        }
            }catch (e){

            }
            ////////////////////////////////////
        //////////////////btnTop, Home//////////////////
            ////////////////////////////////////

            $(document).ready(function () {
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 250) {
                        $('#btnTop').fadeIn();
                    } else {
                        $('#btnTop').fadeOut();
                    }
                });
                $('#btnTop').click(function () {
                    downCount=0;
                    $('html, body').animate({scrollTop: 0}, 400);
                    return false;
                });
            });

            $(document).ready(function () {
                $(window).scroll(function () {
                    if ($(this).scrollTop() < $(document).height() - $(window).height() - 250) {
                        $('#btnBottom').fadeIn();
                    } else {
                        $('#btnBottom').fadeOut();
                    }
                });
                $('#btnBottom').click(function () {
                    var targetSection;
                    downCount++;

                    // 순서대로 히트, 추천, 최신, 할인 상품을 타겟으로 지정합니다.
                    /*
                         if ($('section.hit').length) {
                        targetSection = $('section.hit');
                    } else if ($('section.recommend').length) {
                        targetSection = $('section.recommend');
                    } else if ($('section.new').length) {
                        targetSection = $('section.new');
                    } else if ($('section.discount').length) {
                        targetSection = $('section.discount');
                    }
                     */
                    if (downCount === 1) {
                        targetSection = $('section.hit');
                    } else if (downCount === 2) {
                        targetSection = $('section.recommend');
                    } else if (downCount === 3) {
                        targetSection = $('section.new');
                    } else if (downCount === 4) {
                        targetSection = $('section.discount');
                    }

                    if (targetSection) {
                        var scrollDistance = targetSection.offset().top; // 타겟 영역의 상단 위치를 구합니다.
                        $('html, body').animate({scrollTop: scrollDistance}, 400);
                    } else {
                        return false; // 모든 섹션에 해당하는 타겟이 없으면 함수를 종료합니다.
                    }
                    return false;
                });
            });

    </script>
    <style>
        #bannerTop {
            display: none;
            width: 100%;
            height: 80px;
            border-bottom: 1px solid #e9e9e9;
            box-sizing: border-box;
        }

        #bannerTop.on {
            display: block;
        }

        #bannerTop > article {
            position: relative;
            width: 1200px;
            height: 100%;
            margin: 0 auto;
            overflow: hidden;
        }

        #bannerTop > article > .btnClose {
            position: absolute;
            right: 0px;
            top: 0px;
            width: 40px;
            height: 40px;
            background-image: url('../static/images/ico_sprite.png');
            background-position: -122px -142px;
            background-color: transparent;
            font-size: 0;
            border: none;
            cursor: pointer;
        }
        #btnBottom{
            display: inline;
            position: fixed;
            right: 14px;
            bottom: 140px;
            border-radius: 0px;
            width: 48px;
            font-size: 56px;
            color: #FF6347;
            text-align: center;
            line-height: 1;
            padding: 8px 0px 12px;
            z-index: 164;
        }

        #btnPoint{
            display: inline;
            position: fixed;
            right: 14px;
            bottom: 100px;
            border-radius: 0px;
            width: 48px;
            font-size: 56px;
            color: #FF6347;
            text-align: center;
            line-height: 1;
            padding: 8px 0px 12px;
            z-index: 164;
        }

        #btnTop{
            display: inline;
            position: fixed;
            right: 14px;
            bottom: 180px;
            border-radius: 0px;
            width: 48px;
            font-size: 56px;
            color: #FF6347;
            text-align: center;
            line-height: 1;
            padding: 8px 0px 12px;
            z-index: 164;
        }

    </style>

</head>
<body>
<!--메인 배너 시작-->
<th:block th:if="${banner1 != null and !banner1.isEmpty()}">
    <th:block th:each="banner : ${banner1}">
        <div id="bannerTop" class="on" th:style="'background-color:' + ${banner.color}">
            <article>
                <a class="MainBanner" th:href="${banner.link}" th:if="${banner.status} == 1" th:data-bannerNo="${banner.bannerNo}"
                   th:data-link="${banner.link}">
                    <img class="bannerImg" th:src="@{/uploads/__${banner.img_1200}__}"/>
                </a>
                <button class="btnClose">close</button>
            </article>
        </div>
    </th:block>
</th:block>

<th:block th:unless="${banner1 != null and !banner1.isEmpty()}"></th:block>

<!--메인 배너 끝!-->

<div id="wrapper">
    <header>
        <div class="top">
            <div>
                <th:block th:if="${#authentication.principal == 'anonymousUser'}">
                    <a th:href="@{/member/login}">로그인</a>
                </th:block>

                <th:block th:if="${#authentication.principal != 'anonymousUser'}">
                    <a th:href="@{/member/logout}">로그아웃</a>
                </th:block>

                <th:block th:if="${#authentication.principal != 'anonymousUser'}">
                    <th:block th:if="${#authentication.principal.user.role != 'USER'}">
                        <a th:href="@{/admin/index}">관리자페이지</a>
                    </th:block>
                </th:block>
                <a th:href="@{/member/join}">회원가입</a>
                <th:block th:if="${#authentication.principal != 'anonymousUser'}">
                    <th:block th:if="${#authentication.principal.user.role == 'USER'}">
                        <a th:href="@{/my/home}">마이페이지</a>
                        <th:block>
                        </th:block>
                        <th:block th:if="${#authentication.principal != 'anonymousUser'}">
                            <th:block th:if="${#authentication.principal.user.role == 'USER'}">
                                <a th:href="@{/product/cart}"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;장바구니</a>
                            </th:block>
                        </th:block>
                    </th:block>
                </th:block>
            </div>
        </div>
        <div class="logo">
            <div>
                <a th:href="@{/}"><img src="./images/header_logo.png" alt="로고"/></a>
                <form id="searchForm" th:action="@{/product/search}" onsubmit="return submitForm()">
                    <input type="text" name="keyword" id="searchInput"/>
                    <button><i class="fa fa-search"></i></button>
                </form>
                <div >
                    <div id="popularSearches" style="display: inline-block; border: 1px solid #8d8d8d; padding: 5px; width: 300px; " >
                    </div>
                </div>
            </div>
        </div>
        <div class="menu">
            <div>
                <ul>
                    <li><a th:href="@{/product/list(board = 'a')}">히트상품</a></li>
                    <li><a th:href="@{/product/list(board = 'b')}">추천상품</a></li>
                    <li><a th:href="@{/product/list(board = 'c')}">최신상품</a></li>
                    <li><a th:href="@{/product/list(board = 'd')}">할인상품</a></li>
                </ul>
                <ul>
                    <li><a th:href="@{/cs/notice/list}">공지사항</a></li>
                    <li><a th:href="@{/cs/faq}">자주묻는질문</a></li>
                    <th:block th:if="${#authentication.principal != 'anonymousUser'}">
                        <th:block th:if="${#authentication.principal.user.role == 'USER'}">
                        <input type="hidden" id="userId" th:value="${#authentication.principal.user.uid}" />
                    <li><a th:href="@{/cs/qna/write}" id="question">문의하기</a></li>
                        </th:block>
                    </th:block>
                    <li><a th:href="@{/cs}">고객센터</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <!-- 카테고리/베스트 상품 영역 -->
        <aside>
            <!-- 카테고리 -->
            <ul class="category">
                <li><i class="fa fa-bars" aria-hidden="true"></i>카테고리</li>
                <li>
                    <a th:href="@{/product/list(cateName1='의류/패션')}"><i class="fas fa-tshirt"></i>의류/패션<i
                            class="fas fa-angle-right"></i></a>
                    <ol>
                        <li><a th:href="@{/product/list(cateName1='의류/패션' , cateName2='남성의류')}">남성의류</a>
                            <ol>
                                <li>
                                    <a th:href="@{/product/list(cateName1='의류/패션' , cateName2='남성의류' , cateName3='상의')}">상의</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='의류/패션' , cateName2='남성의류' , cateName3='하의')}">하의</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='의류/패션' , cateName2='남성의류' , cateName3='잡화(가방,지갑,벨트)')}">잡화(가방,지갑,벨트)</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='의류/패션' , cateName2='남성의류' , cateName3='신발')}">신발</a>
                            </ol>
                        </li>
                        <li><a th:href="@{/product/list(cateName1='의류/패션' , cateName2='여성의류')}">여성의류</a>
                            <ol>
                                <li>
                                    <a th:href="@{/product/list(cateName1='의류/패션' , cateName2='여성의류' , cateName3= '상의')}">상의</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='의류/패션' , cateName2='여성의류' , cateName3= '하의')}">하의</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='의류/패션' , cateName2='여성의류' , cateName3= '잡화(가방,지갑,벨트)')}">잡화(가방,지갑,벨트)</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='의류/패션' , cateName2='여성의류' , cateName3= '신발')}">신발</a>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    <a th:href="@{/product/list(cateName1='가전')}"><i class="fas fa-laptop"></i>가전<i
                            class="fas fa-angle-right"></i></a>
                    <ol>
                        <li><a th:href="@{/product/list(cateName1='가전', cateName2='생활가전')}">생활가전</a>
                            <ol>
                                <li>
                                    <a th:href="@{/product/list(cateName1='가전', cateName2='생활가전' ,cateName3='세탁기/세탁기용품')}">세탁기/세탁기용품</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='가전', cateName2='생활가전' ,cateName3='청소기')}">청소기</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='가전', cateName2='생활가전' ,cateName3='에어컨')}">에어컨</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='가전', cateName2='생활가전' ,cateName3='냉장고')}">냉장고</a>
                            </ol>
                        </li>
                        <li><a th:href="@{/product/list(cateName1='가전', cateName2='TV/영상가전')}">TV/영상가전</a>
                            <ol>
                                <li><a th:href="@{/product/list(cateName1='가전', cateName2='TV/영상가전', cateName3='TV')}">TV</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='가전',cateName2='TV/영상가전', cateName3='영상플레이어')}">영상플레이어</a>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    <a th:href="@{/product/list(cateName1='식품')}"><i class="fas fa-utensils"></i>식품<i
                            class="fas fa-angle-right"></i></a>
                    <ol>
                        <li><a th:href="@{/product/list(cateName1='식품', cateName2='농/축산물')}">농/축산물</a>


                            <ol>
                                <li><a th:href="@{/product/list(cateName1='식품', cateName2='농/축산물', cateName3='정육/계란')}">정육/계란</a>
                                <li><a th:href="@{/product/list(cateName1='식품', cateName2='농/축산물', cateName3='정육/계란')}">쌀/잡곡/견과</a>
                                <li><a th:href="@{/product/list(cateName1='식품', cateName2='농/축산물', cateName3='정육/계란')}">과일</a>
                                <li><a th:href="@{/product/list(cateName1='식품', cateName2='농/축산물', cateName3='정육/계란')}">채소</a>
                            </ol>

                        </li>
                        <li><a th:href="@{/product/list(cateName1='식품', cateName2='수산/건어물')}">수산/건어물</a>

                            <ol>
                                <li>
                                    <a th:href="@{/product/list(cateName1='식품', cateName2='수산/건어물', cateName3='생선')}">생선</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='식품', cateName2='수산/건어물', cateName3='김/해조류')}">김/해조류</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='식품', cateName2='수산/건어물', cateName3='전복/굴/조개류')}">전복/굴/조개류</a>
                                <li>
                                    <a th:href="@{/product/list(cateName1='식품', cateName2='수산/건어물', cateName3='오징어/낙지/쭈꾸미')}">오징어/낙지/쭈꾸미</a>
                            </ol>
                        </li>
                    </ol>
                <li>


                    <a th:href="@{/product/list(cateName1='반려동물')}"><i class="fas fa-home"></i>반려동물<i
                            class="fas fa-angle-right"></i></a>
                    <ol>
                        <li>
                            <a th:href="@{/product/list(cateName1='반려동물', cateName2='강아지')}">강아지</a>
                            <ol>
                                <li>
                                    <a th:href="@{/product/list(cateName1='반려동물', cateName2='강아지', cateName3='사료/영양제')}">사료/영양제</a>
                                </li>
                                <li>
                                    <a th:href="@{/product/list(cateName1='반려동물', cateName2='강아지', cateName3='간식')}">간식</a>
                                </li>
                                <li><a th:href="@{/product/list(cateName1='반려동물', cateName2='강아지', cateName3='배변용품')}">배변용품</a>
                                </li>
                                <li>
                                    <a th:href="@{/product/list(cateName1='반려동물', cateName2='강아지', cateName3='장난감/훈련용품')}">장난감/훈련용품</a>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <a th:href="@{/product/list(cateName1='반려동물', cateName2='고양이')}">고양이</a>
                            <ol>
                                <li>
                                    <a th:href="@{/product/list(cateName1='반려동물', cateName2='고양이', cateName3='사료/영양제')}">사료/영양제</a>
                                </li>
                                <li>
                                    <a th:href="@{/product/list(cateName1='반려동물', cateName2='고양이', cateName3='간식')}">간식</a>
                                </li>
                                <li><a th:href="@{/product/list(cateName1='반려동물', cateName2='고양이', cateName3='배변용품')}">배변용품</a>
                                </li>
                                <li>
                                    <a th:href="@{/product/list(cateName1='반려동물', cateName2='고양이', cateName3='장난감/훈련용품')}">장난감/훈련용품</a>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ul>

            <!-- 베스트상품 배너 -->
            <article class="best">
                <h1><i class="fas fa-crown"></i>베스트상품</h1>
                <ol th:each="product , index:${prodSolds}" th:if="${index.index <3}">
                    <li>
                        <a th:href="@{/product/view(prodno=${product.prodNo})}" style=" text-align: center">
                            <div class="thumb"  >
                                <span style="color: red ; font-weight: bolder; text-decoration: underline">[[${index.index +1}]]</span>
                                <img style="width: 150px ; height: auto;" th:src="@{/uploads/__${product.image1}__}" alt="item1"/>
                            </div>
                            <h2>[[${product.prodName}]]  <span style="color: red; border: 1px solid red" th:if="${product.hit >0}"> HIT</span></h2>
                            <th:block th:if="${product.prodDiscount != 0}">
                                <div class="org_price">
                                    <del>[[${product.prodPrice}]]</del>
                                    <span>[[${product.prodDiscount}]]</span>
                                </div>
                                <div class="dis_price">
                                    <ins>[[${#numbers.formatDecimal(product.prodPrice * (100 - product.prodDiscount) *
                                        0.01, 1,0 )}]]
                                    </ins>
                                </div>
                            </th:block>
                            <th:block th:if="${product.prodDiscount == 0}">
                                <div class="dis_price">
                                    <ins>[[${#numbers.formatDecimal(product.prodPrice * (100 - product.prodDiscount) *
                                        0.01, 1,0 )}]]
                                    </ins>
                                </div>
                            </th:block>
                        </a>
                    </li>
                </ol>
            </article>
        </aside>
        <section>
            <!-- 슬라이더 영역 -->
            <section class="slider">
                <ul>
                    <li th:each="banner : ${banner2}" th:if="${banner.status} == 1">
                        <a class="sliderBanner" th:data-bannerNo="${banner.bannerNo}" th:data-link="${banner.link}"
                          href="#"><!--th:href="@{${banner.link}}"-->
                            <img class="bannerImg" th:src="@{/uploads/__${banner.img_985}__}"/>
                        </a>
                    </li>

                    <li th:each="banner : ${banner2}" th:if="${banner} == null">
                        <th:block>
                            <div style="background-color: #F0F0F0; width: 985px; height: 447px;"></div>
                        </th:block>
                    </li>
                </ul>
            </section>
            <!-- 히트상품 영역 -->
            <section class="hit">
                <h3><span>히트상품</span></h3>
                <article th:each="product , index : ${prodSolds}">
                    <a th:href="@{/product/view(prodno = ${product.prodNo})}">
                        <div class="thumb">
                            <img th:src="@{/uploads/__${product.image2}__}" alt="t1"/>
                        </div>
                        <h2>[[${product.prodName}]]  <span style="color: red; border: 1px solid red" th:if="${product.hit >0}"> HIT</span>
                        </h2>

                        <p>[[${product.etc}]]</p>
                        <th:block th:if="${product.prodDiscount != 0}">
                            <div class="org_price">
                                <del>[[${product.prodPrice}]]</del>
                                <span>[[${product.prodDiscount}]]</span>
                            </div>
                            <div class="dis_price">
                                <ins>[[${#numbers.formatDecimal(product.prodPrice * (100 - product.prodDiscount) * 0.01,
                                    1,0 )}]]
                                </ins>
                                <span class="free" th:if="${product.delivery == 0}">무료배송</span>
                            </div>
                        </th:block>
                        <th:block th:if="${product.prodDiscount == 0}">
                            <div class="dis_price">
                                <ins>[[${#numbers.formatDecimal(product.prodPrice * (100 - product.prodDiscount) * 0.01,
                                    1,0 )}]]
                                </ins>
                                <span class="free" th:if="${product.delivery == 0}">무료배송</span>
                            </div>
                        </th:block>
                    </a>
                </article>
            </section>
            <!-- 추천상품 영역 -->
            <section class="recommend">
                <h3><span>추천상품</span></h3>
                <article th:each="product , index : ${prodRecommend}">
                    <a th:href="@{/product/view(prodno = ${product.prodNo})}">
                        <div class="thumb">
                            <img th:src="@{/uploads/__${product.image2}__}" alt="t1"/>
                        </div>
                        <h2>[[${product.prodName}]]</h2>
                        <p>[[${product.etc}]]</p>
                        <th:block th:if="${product.prodDiscount != 0}">
                            <div class="org_price">
                                <del>[[${product.prodPrice}]]</del>
                                <span>[[${product.prodDiscount}]]</span>
                            </div>
                            <div class="dis_price">
                                <ins>[[${#numbers.formatDecimal(product.prodPrice * (100 - product.prodDiscount) * 0.01,
                                    1,0 )}]]
                                </ins>
                                <span class="free" th:if="${product.delivery == 0}">무료배송</span>
                            </div>
                        </th:block>
                        <th:block th:if="${product.prodDiscount == 0}">
                            <div class="dis_price">
                                <ins>[[${#numbers.formatDecimal(product.prodPrice * (100 - product.prodDiscount) * 0.01,
                                    1,0 )}]]
                                </ins>
                                <span class="free" th:if="${product.delivery == 0}">무료배송</span>
                            </div>
                        </th:block>
                    </a>
                </article>
            </section>
            <!-- 최신상품 영역 -->
            <section class="new">
                <h3><span>최신상품</span></h3>
                <article th:each="product , index : ${prodRecent}">
                    <a th:href="@{/product/view(prodno = ${product.prodNo})}">
                        <div class="thumb">
                            <img th:src="@{/uploads/__${product.image2}__}" alt="t1"/>
                        </div>
                        <h2>[[${product.prodName}]]</h2>
                        <p>[[${product.etc}]]</p>
                        <th:block th:if="${product.prodDiscount != 0}">
                            <div class="org_price">
                                <del>[[${product.prodPrice}]]</del>
                                <span>[[${product.prodDiscount}]]</span>
                            </div>
                            <div class="dis_price">
                                <ins>[[${#numbers.formatDecimal(product.prodPrice * (100 - product.prodDiscount) * 0.01,
                                    1,0 )}]]
                                </ins>
                                <span class="free" th:if="${product.delivery == 0}">무료배송</span>
                            </div>
                        </th:block>
                        <th:block th:if="${product.prodDiscount == 0}">
                            <div class="dis_price">
                                <ins>[[${#numbers.formatDecimal(product.prodPrice * (100 - product.prodDiscount) * 0.01,
                                    1,0 )}]]
                                </ins>
                                <span class="free" th:if="${product.delivery == 0}">무료배송</span>
                            </div>
                        </th:block>
                    </a>
                </article>

            </section>
            <!-- 할인상품 영역 -->
            <section class="discount">
                <h3><span>할인상품</span></h3>
                <article th:each="product , index : ${prodDiscount}">
                    <a th:href="@{/product/view(prodno = ${product.prodNo})}">
                        <div class="thumb">
                            <img th:src="@{/uploads/__${product.image2}__}" alt="t1"/>
                        </div>
                        <h2>[[${product.prodName}]]</h2>
                        <p>[[${product.etc}]]</p>
                        <th:block th:if="${product.prodDiscount != 0}">
                            <div class="org_price">
                                <del>[[${product.prodPrice}]]</del>
                                <span>[[${product.prodDiscount}]]</span>
                            </div>
                            <div class="dis_price">
                                <ins>[[${#numbers.formatDecimal(product.prodPrice * (100 - product.prodDiscount) * 0.01,
                                    1,0 )}]]
                                </ins>
                                <span class="free" th:if="${product.delivery == 0}">무료배송</span>
                            </div>
                        </th:block>
                        <th:block th:if="${product.prodDiscount == 0}">
                            <div class="dis_price">
                                <ins>[[${#numbers.formatDecimal(product.prodPrice * (100 - product.prodDiscount) * 0.01,
                                    1,0 )}]]
                                </ins>
                                <span class="free" th:if="${product.delivery == 0}">무료배송</span>
                            </div>
                        </th:block>
                    </a>

                </article>
            </section>
        </section>
    </main>
    <footer>
        <ul>
            <li><a th:href="@{/company/index}">회사소개</a></li>
            <li><a th:href="@{/policy/buyer}">서비스이용약관</a></li>
            <li><a th:href="@{/policy/privacy}">개인정보처리방침</a></li>
            <li><a th:href="@{/policy/finance}">전자금융거래약관</a></li>
        </ul>
        <div>
            <p><img th:src="@{/images/footer_logo.png}" alt="로고"/></p>
            <p>
                <strong>(주)롯데ON</strong><br/>
                서울특별시 송파구 올림픽로 300 롯데월드타워 26층 (역삼동 강남파이낸스센터)<br/>
                대표이사 : 김사무엘상현, 정준호, 강성현<br/>
                사업자등록번호 : 529-85-00774(롯데쇼핑(주) e커머스사업부)<br/>
                통신판매업 신고 : 서울송파 제0158호<br>
                호스팅 서비스사업자 : 롯데쇼핑(주) e커머스사업부
            </p>
            <p>
                <strong>고객센터</strong><br/>
                Tel : 1899-7000(유료) (평일 09:00~18:00)<br/>
                Fax : 051-123-4567 | E-mail : lotteon@lotte.net<br/>
                [[${appInfo.name}]]-[[${appInfo.version}]]
            </p>
        </div>
    </footer>
    <aside>
        <a href="#" id="btnBottom">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0"/>
            </svg>
        </a>
        <a href="#" id="btnTop">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0"/>
            </svg>
        </a>
        <br>
        <br>
        <a  id="btnPoint" >
            <img style="width: 32px; height: 32px" th:src="@{/images/coin.png}" alt="포인트 적립 이벤트"/>
        </a>
    </aside>
</div>
</body>
</html>
