<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>주문상세</title>
</head>
<style>
    body {
        margin: 0; /* 페이지 여백 제거 */
        display: flex; /* 수평 가운데 정렬을 위한 flex 설정 */
        justify-content: center; /* 수평 가운데 정렬 설정 */
        align-items: center; /* 수직 가운데 정렬 설정 */
        height: 100vh; /* 화면의 높이를 차지하도록 설정 */
    }

    table {border: 1px solid gray;
             height: auto;
            text-align: center}
     table tr > td:nth-child(1) {width: 160px; background:#f2f2f2;}
    table tr > td:nth-child(2) {width: auto;}
</style>
<body>

<table border="0">
    <tr>
        <td>주문번호</td>
        <td>[[${order.orderNo}]]</td>
    </tr>
    <tr>
        <td>결제방법</td>
        <td th:text="${order.payment}"></td>
    </tr>
    <tr>
        <td>주문자 : 연락처</td>
        <td>[[${order.sendName}]] : [[${order.sendHp}]]</td>
    </tr>
    <tr>
        <td>수취인 : 연락처</td>
        <td>[[${order.receiveName}]] : [[${order.receiveHp}]]</td>
    </tr>
    <tr>
        <td>배송지 주소</td>
        <td>[ [[${order.zip}]] ] [[${order.addr1}]] [[${order.addr2}]]</td>
    </tr>
    <tr>
        <td>메모</td>
        <td>[[${order.memo}]]</td>
    </tr>
</table>

</body>
</html>