<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout/adminLayout.html}">

<section id="admin-cs-notice" layout:fragment="content">
    <script>
        window.onload = function() {
            const all = document.getElementById('all');
            const checkAll = document.querySelectorAll('.check');

            // 전체 선택
            all.onclick = function () {
                checkAll.forEach(function (item) {
                    item.checked = all.checked;
                });
            };

            // 선택 삭제
            const selectDelete = document.getElementById('selectDelete');
            selectDelete.onclick = async function(e){
                e.preventDefault();

                var selectedNoList = [];

                checkAll.forEach(function (item){
                    if(item.checked){
                        selectedNoList.push(parseInt(item.value));
                    }
                });

                if (selectedNoList.length === 0){
                    alert('선택된 상품이 없습니다.');
                }else{
                    if (confirm('삭제 하시겠습니까!?')){
                        const jsonData = { list: selectedNoList}
                        const result = await fetchGet('/lotteshop/admin/cs/notice/delete', jsonData);
                        console.log(result.result);
                    }
                    location.reload();
                }
            };
        };

    </script>
    <nav>
        <h3>공지사항 보기</h3>
        <p>
            HOME > 고객센터 > <strong>공지사항 관리</strong>
        </p>
    </nav>

    <section>
        <div>
            <form id="deleteSelectedForm" th:action="@{#}" method="post">
                <input type="hidden" id="selectedNoList" name="selectedNoList" />

                <select name="search">
                    <option value="search1">전체</option>
                    <option value="search2">제목</option>
                    <option value="search3">내용</option>
                    <option value="search3">유형</option>
                    <option value="search4">제목+내용</option>
                </select>
                <span ></span>
                <table border="0">
                    <tr>
                        <th><input type="checkbox" name="all" id="all"></th>
                        <th>번호</th>
                        <th>유형1</th>
                        <th>유형2</th>
                        <th>제목</th>
                        <th>내용</th>
                        <th>관리</th>
                    </tr>
                    <tr th:each="csNotice, index : ${csNotice.dtoList2}">
                        <td class="notice-list-checkbox"><input type="checkbox" name="selectedNoList" class="check"/></td>
                        <td>[[${csNotice.no}]]</td>

                        <td th:if="${csNotice.cate1 == 'customer'}" style="white-space: nowrap;">고객서비스</td>
                        <td th:if="${csNotice.cate1 == 'safe'}" style="white-space: nowrap;">안전거래</td>
                        <td th:if="${csNotice.cate1 == 'danger'}" style="white-space: nowrap;">위해상품</td>
                        <td th:if="${csNotice.cate1 == 'event'}" style="white-space: nowrap;">이벤트 당첨</td>

                        <td th:if="${csNotice.cate2 == 'info'}" style="white-space: nowrap;">안내</td>
                        <td th:if="${csNotice.cate2 == 'report'}" style="white-space: nowrap;">발표</td>
                        <td th:if="${csNotice.cate2 == 'check'}" style="white-space: nowrap;">점검</td>
                        <td th:if="${csNotice.cate2 == 'news'}" style="white-space: nowrap;">뉴스</td>


                        <td><a th:href="@{/admin/cs/notice/view(no=${csNotice.no})}">[[${csNotice.title}]]</a></td>

                        <td>[[${csNotice.content}]]</td>
                        <td>
                            <a th:href="@{/admin/cs/notice/modify(no=${csNotice.no})}">[수정]</a>
                            <a th:href="@{/admin/cs/notice/delete(csNoticeNo=${csNotice.no})}" onclick="return confirm('정말 삭제하시겠습니까?')">[삭제]</a>
                        </td>
                    </tr>
                </table>
                <div>
                    <input type="button" value="선택삭제" id="selectDelete"/>
                </div>
            </form>
            <div>
                <a class="cs-write" style="float: right" th:href="@{/admin/cs/notice/register}">공지 작성</a>
            </div>
            <div class="paging">
                        <span class="prev" th:if="${csNotice.prev}">
                            <a th:href="@{/admin/cs/notice/list(pg=${csNotice.start -1}, cate1=${csNotice.getCate1()} , cate2=${csNotice.getCate2()})}"><&nbsp;이전</a>
                        </span>
                <span class="num" th:each="num:${#numbers.sequence(csNotice.start, csNotice.end)}">
                            <th:block th:if="${num == csNotice.pg}">
                                 <a th:href="@{/admin/cs/notice/list( pg=${num} , cate1=${csNotice.getCate1()} , cate2=${csNotice.getCate2()})}" class="on">[[${num}]]</a>
                            </th:block>

                            <th:block th:if="${num != csNotice.pg}">

                                 <a th:href="@{/admin/cs/notice/list( pg=${num} , cate1=${csNotice.getCate1()} , cate2=${csNotice.getCate2()})}" >[[${num}]]</a>
                            </th:block>

                        </span>
                <span class="next" th:if="${csNotice.next}">
                            <a th:href="@{/admin/cs/notice/list( pg=${csNotice.end+1} , cate1=${csNotice.getCate1()} , cate2=${csNotice.getCate2()})}">다음&nbsp;></a>
                        </span>
            </div>
        </div>
    </section>
</section>
</html>